<div class="checkout_application">
	<% case product.name.downcase %>
	<% when "cable" %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<!-- <h4>Please configure your TV, Internet &amp; Home Phone Services</h4> -->
		<h4>Configure your 1st TV <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["dvr_box_1"].present? %>
				<li>
					<% if fields["dvr_box_1"].downcase == "included" %>
						<p>DVR Box &amp; Service (<%= fields["dvr_box_1"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_1", data: { price: fields["dvr_box_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_1">
		            DVR Box &amp; Service ($<%= fields["dvr_box_1"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["additional_hd_1"].present? %>
				<li>
					<% if fields["additional_hd_1"].downcase == "included" %>
						<p>HD Box (<%= fields["additional_hd_1"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_2", data: { price: fields["additional_hd_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_2">
		            HD Box ($<%= fields["additional_hd_1"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["sd_box_1"].present? %>
				<li>
					<% if fields["sd_box_1"].downcase == "included" %>
						<p>SD Box (<%= fields["sd_box_1"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_3", data: { price: fields["sd_box_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_3">
		            SD Box ($<%= fields["sd_box_1"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Second TV -->
		<h4>Configure your 2nd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["dvr_box_2"].present? %>
				<li>
					<% if fields["dvr_box_2"].downcase == "included" %>
						<p>DVR Box &amp; Service (<%= fields["dvr_box_2"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id: "second_tv_1", data: { price: fields["dvr_box_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_1">
		            DVR Box &amp; Service ($<%= fields["dvr_box_2"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["additional_hd_2"].present? %>
				<li>
					<% if fields["additional_hd_2"].downcase == "included" %>
						<p>HD Box (<%= fields["additional_hd_2"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id: "second_tv_2", data: { price: fields["additional_hd_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_2">
		            HD Box ($<%= fields["additional_hd_2"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["sd_box_2"].present? %>
				<li>
					<% if fields["sd_box_2"].downcase == "included" %>
						<p>SD Box (<%= fields["sd_box_2"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id: "second_tv_3", data: { price: fields["sd_box_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_3">
		            SD Box ($<%= fields["sd_box_2"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Third TV -->
		<h4>Configure your 3rd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["dvr_box_3"].present? %>
				<% if fields["dvr_box_3"].downcase == "included" %>
					<p>DTA Box (<%= fields["dvr_box_3"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id: "third_tv_1", data: { price: fields["dvr_box_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_1">
		            DVR Box &amp; Service ($<%= fields["dvr_box_3"] %> Monthly)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["additional_hd_3"].present? %>
				<% if fields["additional_hd_3"].downcase == "included" %>
					 <p>HD Box (<%= fields["additional_hd_3"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id: "third_tv_2", data: { price: fields["additional_hd_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_2">
		            HD Box ($<%= fields["additional_hd_3"] %> Monthly)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["sd_box_3"].present? %>
				<li>
					<% if fields["sd_box_3"].downcase == "included" %>
						<p>SD Box (<%= fields["sd_box_3"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id: "third_tv_3", data: { price: fields["sd_box_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_3">
		            SD Box ($<%= fields["sd_box_3"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Fourth TV -->
		<h4>Configure your 4th TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["dvr_box_4"].present? %>
				<% if fields["dvr_box_4"].downcase == "included" %>
					<p>DVR Box &amp; Service (<%= fields["dvr_box_4"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_1", data: { price: fields["dvr_box_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_1">
		            DVR Box &amp; Service ($<%= fields["dvr_box_4"] %> Monthly)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["additional_hd_4"].present? %>
				<% if fields["additional_hd_4"].downcase == "included" %>
					<p>HD Box (<%= fields["additional_hd_4"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_2", data: { price: fields["additional_hd_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_2">
		            HD Box ($<%= fields["additional_hd_4"] %> Monthly)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["sd_box_4"].present? %>
				<li>
					<% if fields["sd_box_4"].downcase == "included" %>
						<p>SD Box (<%= fields["sd_box_4"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_3", data: { price: fields["sd_box_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_3">
		            SD Box ($<%= fields["sd_box_4"] %> Monthly)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Details -->
		<h4>
			(<a role="button" data-toggle="collapse" href="#collapseDetailsTV" aria-expanded="false" aria-controls="collapseExample">Equiptment Description</a>)
		</h4>
		<div class="collapse" id="collapseDetailsTV">
		  <div class="well">
		    <ol>
		    	<li>
		    		<strong>DVR Box &amp; Service</strong>
		    		<p>
		    			<small>
		    				DVR Box &amp; Service - Record your favorite shows and movies anytime you want, when you want to watch it - all in stunning HD.
		    			</small>
		    		</p>
		    		<p>
		    			<small>
		    				DVR Service - Reinvent the way you watch TV on your schedule. Pause, record and rewind live TV. Automatically record single shows or an entire series. Record two shows at once or record one while you watch another.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>HD Box</strong>
		    		<p>
		    			<small>
		    				HD BOX - Watch Charter TV in stunning High Definition (Works on both newer HDTVs and older non HDTVs).
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>SD Box</strong>
		    		<p>
		    			<small>
		    				SD BOX - Watch Charter TV in Standard Definition (For older, non HDTVs only).
		    			</small>
		    		</p>
		    	</li>
		    </ol>
		  </div>
		</div>
		<!-- Digital Tier 1  -->
		<% if fields["digital_tier_1"]["50_additional_channels"].present? %>
			<h4>Digital Tier 1</h4>
			<ul>
				<li>
					<% if fields["digital_tier_1"]["50_additional_channels"].downcase == "included" %>
						<p>
							50 additional channels (Free)
						</p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag "50_additional_channels", false, false, {:class => "styled", data: { price: fields["digital_tier_1"]["50_additional_channels"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            50 additional channels ($<%= fields["digital_tier_1"]["50_additional_channels"] %> Monthly)
		          </label>
		        </div>
					<% end %>
				</li>
			</ul>
			<a role="button" data-toggle="collapse" href="#collaspedigital_tier_1" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
			<div class="collapse" id="collaspedigital_tier_1">
	      <p class="well">
	      	NFL Network, nick jr, bio, diy, FXM, Fox Sports 2
	      </p>
	    </div>
		<% end %>

		<!-- Digital Tier 2  -->
		<% if fields["digital_tier_2"]["25_additional_channels"].present? %>
			<h4>Digital Tier 2</h4>
			<ul>
				<li>
					<% if fields["digital_tier_2"]["25_additional_channels"].downcase == "included" %>
						<p>
							25 additional channels (Free)
						</p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag "50_additional_channels", false, false, {:class => "styled", data: { price: fields["digital_tier_2"]["25_additional_channels"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            25 additional channels ($<%= fields["digital_tier_2"]["25_additional_channels"] %> Monthly)
		          </label>
		        </div>
					<% end %>
				</li>
			</ul>
			<a role="button" data-toggle="collapse" href="#collaspedigital_tier_2" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
			<div class="collapse" id="collaspedigital_tier_2">
	      <p class="well">
	      	NFL RED ZONE, FOX College Sports, Outdoor, ESPN Classic
	      </p>
	    </div>
		<% end %>

		<!-- Charter Premium Channels  -->
		<% if fields["premiums"].present? %>
			<h4>Premium Channels</h4>
			<ul>
				<% fields["premiums"].except("checkout_select").each do |key, val| %>
					<% if key.present? %>
						<li>
							<% if val.downcase == "included" %>
								<p>
									<%= key.humanize %> (<%= val %>)
								</p>
							<% else %>
								<div class="checkbox">
									<%= check_box_tag key.to_sym, false, false, {:class => "styled", data: { price: val }, onchange: "calculateEquiptmentCosts(this);"}  %>
									<label class="label-checkbox">
										<%= key.humanize %> ($<%= val %> Monthly)
									</label>
								</div>
							<% end %>

							<!-- Custom Description -->
							<a role="button" data-toggle="collapse" href="#collaspe_<%= key %>" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
							<div class="collapse" id="collaspe_<%= key %>">
								<% case key %>
								<% when "hbo" %>
									<p class="well">
										8 channels of award-winning shows and movies, HBO on Demand, and watch HBO on your mobile device with HBO GO
									</p>
								<% when "cinemax" %>
									<p class="well">
										9 channels of classic and blockbuster movies, Cinemax on Demand on your mobile device with MAX GO
									</p>
								<% when "showtime" %>
									<p class="well">
										6 Channels of Emmy Award-winning shows and tons of movies plus Showtime on Demand.
									</p>
								<% when "movie_channel" %>
									<p class="well">
										3 channels of movies, including The Movie Channel on Demand, plus, get the deepest behind-the-scenes dish and insider trivia.
									</p>
								<% when "epix" %>
										<p class="well">
											Watch the biggest movies, original programming and a library of classics On Demand and online
										</p>
								<% when "starz" %>
									<p class="well">
										5 channels of movies and new shows for the entire family plus Starz on Demand.
									</p>
								<% when "encore" %>
						      <p class="well">
						      	6 channels of mysteries, western, dramas, and more plus Encore on Demand.
						      </p>
								<% end %>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		<% end %>

		<!-- International Channels -->
		<% if fields["international_channels"].present? %>
			<h4>International Channels</h4>
			<ul>

				<% fields["international_channels"].except("checkout_select").each do |key, val| %>
					<% if key.present? %>
						<li>
							<% if val.downcase == "included" %>
								<p>
									<%= key.humanize %> (<%= val %>)
								</p>
							<% else %>
								<div class="checkbox">
									<%= check_box_tag key.to_sym, false, false, {:class => "styled", data: { price: val }, onchange: "calculateEquiptmentCosts(this);"}  %>
									<label class="label-checkbox">
										<%= key.humanize %> ($<%= val %> Monthly)
									</label>
								</div>
							<% end %>

							<!-- Custom Description -->
							<a role="button" data-toggle="collapse" href="#collaspe_<%= key %>" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
							<div class="collapse" id="collaspe_<%= key %>">
								<% case key %>
								<% when "flipino_view" %>
									<p class="well">
										6 Filipino Networks
									</p>
								<% when "french_view" %>
									<p class="well">
										French Networks
									</p>
								<% when "latino_view" %>
									<p class="well">
										Up to 45 channels in Spanish
									</p>
								<% when "se_asian_view" %>
									<p class="well">
										SE Asian Networks
									</p>
								<% when "tv_japan" %>
									<p class="well">
										Japanese Networks
									</p>
								<% end %>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		<% end %>

		<hr />
	<% when "internet" %>

		<!-- Fields For Internet -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<% if fields["modem"].present? %>
			<h4>Modem <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
			<% if fields["modem"].downcase == "included" %>
				<p>
					Internet plan requires modem to connect internet service (FREE)
				</p>
			<% else %>
				<ul>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :modem, false, false, {id: "modem_with", data: { price: fields["modem"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="modem_with">
		            Internet plan requires modem to connect internet service ($<%= fields["modem"] %> Monthly)
		          </label>
		        </div>
					</li>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :modem, false, false, {id: "modem_own", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="modem_own">
		            I’ll use my own internet modem ($0 Monthly)
		          </label>
		        </div>
					</li>
				</ul>
			<% end %>
		<% end %>

		<% if fields["wifi"].present? %>
			<h4>WiFi Service &amp; Equipment <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
			<% if fields["wifi"].downcase == "included" %>
				<p>
					WiFi Service is included in this package
				</p>
			<% else %>
				<ul>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :wifi, false, false, {id: "wifi_with", data: { price: fields["wifi"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="wifi_with">
		            Yes, I want to add home WiFi router ($<%= fields["wifi"] %> Monthly)
		          </label>
		        </div>
					</li>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :wifi, false, false, {id: "wifi_own", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="wifi_own">
		            I’ll use my own wireless router ($0 Monthly)
		          </label>
		        </div>
					</li>
				</ul>
			<% end %>
		<% end %>
		<hr />
	<% else %>

		<!-- Fields For Phone -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>

		<%#= fields %>
		<h4>PHONE <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["new_phone_number"].present? %>
				<li>
					<% unless fields["new_phone_number"].downcase == "included" %>
						<div class="checkbox" style="padding-left: 5px;">
							<%= radio_button_tag :phone, false, false, {id: "phone_1", data: { price: fields["new_phone_number"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="phone_1">
		            New Phone Number ($<%= fields["new_phone_number"] %> Monthly)
	            </label>
		        </div>
	        <% else %>
            <p>
            	New Phone Number (<%= fields["new_phone_number"] %>)
            </p>
        	<% end %>
          <a role="button" data-toggle="collapse" href="#collaspephone" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspephone">
			      <p class="well">
			      	Get a new phone number with Charter Home Phone and avoid the waiting time to have your existing number ported. Activation Fees vary by market.
			      </p>
			    </div>
				</li>
			<% end %>
			<% if fields["old_phone_number"].present? %>
				<li>
					<% unless fields["old_phone_number"].downcase == "included" %>
						<div class="checkbox" style="padding-left: 5px;">
							<%= radio_button_tag :phone, false, false, {id: "phone_2", data: { price: fields["old_phone_number"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="phone_2">
		            Old Phone Number ($<%= fields["old_phone_number"] %> Monthly)
	            </label>
		        </div>
	        <% else %>
            <p>
            	Old Phone Number (<%= fields["old_phone_number"] %>)
            </p>
        	<% end %>
          <a role="button" data-toggle="collapse" href="#collaspephone_1" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspephone_1">
			      <p class="well">
			      	Keep your old phone number when you switch to Charter Home Phone service. Activation Fees vary by market.
			      </p>
			    </div>
				</li>
			<% end %>
			<li>
        <label>
          Enter your Current Phone Provider
        </label>
        <p>
        	<%= text_field_tag :current_phone_provider, params[:current_phone_provider], {:class => "form-control"}  %>
        </p>
			</li>
			<li>
        <label>
          Enter your phone number
        </label>
        <p>
        	<%= text_field_tag :transfer_phone_number, params[:transfer_phone_number], {:class => "form-control"}  %>
        </p>
			</li>
		</ul>
		<h4>Please select your additional phone plans</h4>
		<ul>
			<% if fields["get_200_minutes"].present? %>
				<li>
					<% if fields["get_200_minutes"].downcase == "included" %>
						<p>
							Get 200 minutes each month (Free) 
						</p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag :get_200_minutes, false, false, {:class => "styled", data: { price: 10.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Get 200 minutes each month ($10 Monthly) 
		          </label>
		        </div>
	        <% end %>
	        <a role="button" data-toggle="collapse" href="#collaspeget_200_minutes" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeget_200_minutes">
			      <p class="well">
			      	Call any landline in Mexico Talk as low as 50 a minute
			      </p>
			    </div>
				</li>
			<% end %>
			<% if fields["mexico_500"].present? %>
				<li>
					<% if fields["mexico_500"].downcase == "included" %>
						<p>
							Mexico 500 Calling Plan (Free) 
						</p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag :mexico_500, false, false, {:class => "styled", data: { price: 25.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Mexico 500 Calling Plan ($25 Monthly)  
		          </label>
		        </div>
	        <% end %>
	        <a role="button" data-toggle="collapse" href="#collaspegmexico_500" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspegmexico_500">
			      <p class="well">
			      	Get 500 minutes each month Call any landline in Mexico Talk as low as 50 a minute
			      </p>
			    </div>
				</li>
			<% end %>
			<% if fields["get_500_minutes"].present? %>
				<li>
					<% if fields["get_500_minutes"].downcase == "included" %>
						 <p>
						 	Worldwide 250 Calling Plan (Free)
						 </p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag :get_500_minutes, false, false, {:class => "styled", data: { price: 20.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		             Worldwide 250 Calling Plan ($20 Monthly) 
		          </label>
		        </div>
	        <% end %>
	        <a role="button" data-toggle="collapse" href="#collaspeget_500_minutes" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeget_500_minutes">
			      <p class="well">
			      	Get 250 minutes to 195 countries Includes 78 mobile destinations
			      </p>
			    </div>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
