<div class="checkout_application">
	<% case product.name.downcase %>
	<% when "cable" %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>
		
		<!-- <h4>Please configure your TV, Internet &amp; Home Phone Services</h4> -->
		<h4>Configure your 1st TV <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_1"].present? %>
				<li>
					<% if fields["contour_record_dvr_1"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_1", data: { price: fields["contour_record_dvr_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_1"].present? %>
				<li>
					<% if fields["contour_hd_dvr_1"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_2", data: { price: fields["contour_hd_dvr_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_1"].present? %>
				<li>
					<% if fields["contour_hd_receiver_1"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_3", data: { price: fields["contour_hd_receiver_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_1"].present? %>
				<li>
					<% if fields["mini_box_1"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_4", data: { price: fields["mini_box_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_4">
		            Mini Box ($<%= fields["mini_box_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_1"].present? %>
				<li>
					<% if fields["cable_card_1"].downcase == "included"  %>
						<p>Cable Card (<%= fields["cable_card_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_5", data: { price: fields["cable_card_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_5">
		            Cable Card ($<%= fields["cable_card_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Second TV -->
		<h4>Configure your 2nd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_2"].present? %>
				<li>
					<% if fields["contour_record_dvr_2"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_1", data: { price: fields["contour_record_dvr_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_2"].present? %>
				<li>
					<% if fields["contour_hd_dvr_2"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_2", data: { price: fields["contour_hd_dvr_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_2"].present? %>
				<li>
					<% if fields["contour_hd_receiver_2"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_3", data: { price: fields["contour_hd_receiver_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_1"].present? %>
				<li>
					<% if fields["mini_box_2"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_4", data: { price: fields["mini_box_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_4">
		            Mini Box ($<%= fields["mini_box_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_2"].present? %>
				<li>
					<% if fields["cable_card_1"].downcase == "included" %>
						<p>Cable Card (<%= fields["cable_card_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_5", data: { price: fields["cable_card_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_5">
		            Cable Card ($<%= fields["cable_card_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Third TV -->
		<h4>Configure your 3rd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_3"].present? %>
				<li>
					<% if fields["contour_record_dvr_3"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_1", data: { price: fields["contour_record_dvr_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_3"].present? %>
				<li>
					<% if fields["contour_hd_dvr_3"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_2", data: { price: fields["contour_hd_dvr_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_3"].present? %>
				<li>
					<% if fields["contour_hd_receiver_3"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_3", data: { price: fields["contour_hd_receiver_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_3"].present? %>
				<li>
					<% if fields["cable_card_3"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_4", data: { price: fields["mini_box_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_4">
		            Mini Box ($<%= fields["mini_box_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_3"].present? %>
				<li>
					<% if fields["cable_card_3"].downcase == "included" %>
						<p>Cable Card (<%= fields["cable_card_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_5", data: { price: fields["cable_card_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_5">
		            Cable Card ($<%= fields["cable_card_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Fourth TV -->
		<h4>Configure your 4th TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_4"].present? %>
				<li>
					<% if fields["contour_record_dvr_4"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_1", data: { price: fields["contour_record_dvr_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_4"].present? %>
				<li>
					<% if fields["contour_hd_dvr_4"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_2", data: { price: fields["contour_hd_dvr_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_4"].present? %>
				<li>
					<% if fields["contour_hd_receiver_4"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_3", data: { price: fields["contour_hd_receiver_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_4"].present? %>
				<li>
					<% if fields["mini_box_4"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_4", data: { price: fields["mini_box_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_4">
		            Mini Box ($<%= fields["mini_box_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_4"].present? %>
				<li>
					<% if fields["cable_card_4"].downcase == "included" %>
						<p>Cable Card (<%= fields["cable_card_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_5", data: { price: fields["cable_card_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_5">
		            Cable Card ($<%= fields["cable_card_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Details -->
		<h4>
			(<a role="button" data-toggle="collapse" href="#collapseDetailsTV" aria-expanded="false" aria-controls="collapseExample">Equitpment Description</a>)
		</h4>
		<div class="collapse" id="collapseDetailsTV">
		  <div class="well">
		    <ol>
		    	<li>
		    		<strong>Contour Record 6 HD-DVR</strong>
		    		<p>
		    			<small>
		    				Record 6 HD-DVR Receiver - Record 6 shows at once and store 1,000 with the Contour Record 6 HD-DVR Receiver. Store all of your favorites, watch recorded shows on any TV in the house, start watching a recorded show in one room and resume watching it in another. All with one DVR. Record 6 Whole Home DVR Service - Record 6 Whole Home DVR Service is required to use your Record 6 Whole Home DVR.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Contour HD-DVR Receiver</strong>
		    		<p>
		    			<small>
		    				Contour HD-DVR Receiver - Automatically record a game, event or show, multiple episodes or an entire season of your favorite series. Pause and rewind live TV. Record one show while watching another or record two shows at once. The Contour DVR has up to 6 times the storage of our standard HD-DVR. Schedule your DVR from anywhere, anytime using your mobile device.
		    			</small>
		    		</p>
		    		<p>
		    			<small>
		    				Record 2 DVR Service - DVR (Digital Video Recorder) Service is required to use your Record 2 HD-DVR Receiver.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Contour HD Receiver</strong>
		    		<p>
		    			<small>
		    				Add up to 7 additional HD Receivers to your Contour Record 6 DVR Receiver and get our advanced program guide with personalized recommendations plus the ability to pause, record or watch recorded programs on any TV in your home.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Mini Box</strong>
		    		<p>
		    			<small>
		    				N/A
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Cable Card</strong>
		    		<p>
		    			<small>
		    				A CableCARD is a digital cable decoder that's about the size of a credit card. It fits directly into a slot on select digital-cable-ready TVs. Renting this box-free alternative lets you watch digital channels without a set-top box. Please note: This requires a CableCARD ready device (such as a TiVo) or CableCARD ready Television set.
		    			</small>
		    		</p>
		    	</li>
		    </ol>
		  </div>
		</div>

		<!-- Premiumns  -->
		<%= render partial: "offers/checkout/shared/cox/premiums", locals: { fields: fields } %>

		<!-- TV Paks  -->
		<%= render partial: "offers/checkout/shared/cox/tv_paks", locals: { fields: fields } %>
		<hr />

	<% when "internet" %>
		<!-- Internet Add ons -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<!-- Internet Equiptment -->
		<%= render partial: "offers/checkout/shared/cox/internet_equiptment", locals: { fields: fields } %>
		
		<!-- Cox Tech Solutions -->
		<%= render partial: "offers/checkout/shared/cox/cox_tech_solutions", locals: { fields: fields } %>

		<hr />
	<% else %>
		<!-- Phone Add Ons -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<!-- Long distance -->
		<%= render partial: "offers/checkout/shared/cox/long_distance", locals: { fields: fields } %>

		<!-- Calling features -->
		<% if fields["calling_features"].downcase == 'required' %>
			<h4>Additional Calling Features</h4>
			<ul>
				<!-- Voice mail -->
				<% if fields["voice_mail"].present? %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :voice_mail, false, false, {:class => "styled", data: { price: fields["voice_mail"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Voice Mail, ($<%= fields["voice_mail"] %>/Month)
		          </label>
		          <br />
		          <a role="button" data-toggle="collapse" href="#collaspecalling_features" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
							<div class="collapse" id="collaspecalling_features">
			          <p class="well">
			          	Voicemail - Never miss an important message again..
			          </p>
		          </div>
		        </div>
					</li>
				<% end %>
			</ul>
		<% end %>

		<!-- International calling plan -->
		<% if fields["international_calling_plan"].downcase == 'required' %>
			<h4>International Calling Plan</h4>
			<ul>

				<!-- Simply World wide -->
				<% if fields["simply_worldwide"].present? %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :simply_worldwide, false, false, {:class => "styled", data: { price: fields["simply_worldwide"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Simply Worldwide, ($<%= fields["simply_worldwide"] %> monthly)
		          </label>
		          <br />
		          <a role="button" data-toggle="collapse" href="#collaspeinternational_calling_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
							<div class="collapse" id="collaspeinternational_calling_plan">
			          <p class="well">
			          	Simply Worldwide is simply a great deal. For a low monthly fee, enjoy a rate of just .07 cents per minute to over 230 of the most called countries"
			          </p>
		          </div>
		        </div>
					</li>
				<% end %>
			</ul>
		<% end %>

		<!-- Mexico Calling plan -->
		<% if fields["mexico_calling_plan"].downcase == 'required' %>
			<h4>Mexico Calling Plans</h4>
			<ul>
				<!-- Mexico 200 plan -->
				<% if fields["mexico_200"].present? %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :mexico_200, false, false, {:class => "styled", data: { price: fields["mexico_200"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		             Mexico 200, ($<%= fields["mexico_200"] %> Monthly)
		          </label>
		          <br />
		          <a role="button" data-toggle="collapse" href="#collaspemexico_calling_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
							<div class="collapse" id="collaspemexico_calling_plan">
			          <p class="well">
			          	Save more on calls to Mexico. Get 200 minutes to use any time on calls to landline phones in Mexico. Plus, get a low rate of 4 cents per minute for any minutes you use over 200.
			          </p>
		          </div>
		        </div>
					</li>
				<% end %>
			</ul>
		<% end %>

		<!-- Directory listing -->
		<%= render partial: "offers/checkout/shared/cox/directory_listing", locals: { fields: fields } %>


		<!-- Telephone Equiptment EMTA -->
		<% if fields["telephone_outlet_installation"].downcase == 'required' %>
			<h4>
				Telephone Equiptment EMTA
			</h4>
			
			<!-- telephone emta -->
			<ul>
				<% if fields["telephone_emta"].present? %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :telephone_emta, false, false, {:class => "styled", data: { price: fields["telephone_emta"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		             Telephone EMTA, ($<%= fields["telephone_emta"] %> monthly)
		          </label>
		        </div>
					</li>
				<% end %>
			</ul>
		<% end %>

		<!-- Telephone no porting -->
		<%= render partial: "offers/checkout/shared/cox/telephone_no_porting", locals: { fields: fields } %>
	<% end %>
</div>

