<div class="checkout_application">
	<% case product.name.downcase %>
	<% when "cable" %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<%= render partial: "offers/checkout/shared/televisions", locals: { fields: fields } %>

		<!-- Details -->
		<h4>
			(<a role="button" data-toggle="collapse" href="#collapseDetailsTV" aria-expanded="false" aria-controls="collapseExample">Television Equitpments Description</a>)
		</h4>
		<div class="collapse" id="collapseDetailsTV">
		  <div class="well">
		    <ol>
		    	<li>
		    		<strong>Contour Record 6 HD-DVR</strong>
		    		<p>
		    			<small>
		    				Record 6 HD-DVR Receiver - Record 6 shows at once and store 1,000 with the Contour Record 6 HD-DVR Receiver. Store all of your favorites, watch recorded shows on any TV in the house, start watching a recorded show in one room and resume watching it in another. All with one DVR. Record 6 Whole Home DVR Service - Record 6 Whole Home DVR Service is required to use your Record 6 Whole Home DVR.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Contour HD-DVR Receiver</strong>
		    		<p>
		    			<small>
		    				Contour HD-DVR Receiver - Automatically record a game, event or show, multiple episodes or an entire season of your favorite series. Pause and rewind live TV. Record one show while watching another or record two shows at once. The Contour DVR has up to 6 times the storage of our standard HD-DVR. Schedule your DVR from anywhere, anytime using your mobile device.
		    			</small>
		    		</p>
		    		<p>
		    			<small>
		    				Record 2 DVR Service - DVR (Digital Video Recorder) Service is required to use your Record 2 HD-DVR Receiver.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Contour HD Receiver</strong>
		    		<p>
		    			<small>
		    				Add up to 7 additional HD Receivers to your Contour Record 6 DVR Receiver and get our advanced program guide with personalized recommendations plus the ability to pause, record or watch recorded programs on any TV in your home.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Mini Box</strong>
		    		<p>
		    			<small>
		    				N/A
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Cable Card</strong>
		    		<p>
		    			<small>
		    				A CableCARD is a digital cable decoder that's about the size of a credit card. It fits directly into a slot on select digital-cable-ready TVs. Renting this box-free alternative lets you watch digital channels without a set-top box. Please note: This requires a CableCARD ready device (such as a TiVo) or CableCARD ready Television set.
		    			</small>
		    		</p>
		    	</li>
		    </ol>
		  </div>
		</div>

		<!-- Premiumns  -->
		<%= render partial: "offers/checkout/shared/cox/premiums", locals: { fields: fields } %>

		<!-- TV Paks  -->
		<%= render partial: "offers/checkout/shared/cox/tv_paks", locals: { fields: fields } %>
		<hr />

	<% when "internet" %>
		<!-- Internet Add ons -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<!-- Internet Equiptment -->
		<%= render partial: "offers/checkout/shared/cox/internet_equiptment", locals: { fields: fields } %>

		<!-- Cox Tech Solutions -->
		<%= render partial: "offers/checkout/shared/cox/cox_tech_solutions", locals: { fields: fields } %>

		<hr />
	<% else %>
		<!-- Phone Add Ons -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<!-- Long distance -->
		<%= render partial: "offers/checkout/shared/cox/long_distance", locals: { fields: fields } %>

		<!-- Calling features -->
		<% if fields["calling_features"].present? and fields["calling_features"]["voice_mail"].present? %>
			<h4>Additional Calling Features</h4>
			<ul>
				<!-- Voice mail -->

				<li>
					<% if fields["calling_features"]["voice_mail"].downcase == "included" %>
						<p>
							Voice Mail (Included)
						</p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag :voice_mail, false, false, {:class => "styled", data: { price: fields["calling_features"]["voice_mail"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Voice Mail, ($<%= fields["calling_features"]["voice_mail"] %> Monthly)
		          </label>
		        </div>
					<% end %>
					<a role="button" data-toggle="collapse" href="#collaspecalling_features" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspecalling_features">
						<p class="well">
							Voicemail - Never miss an important message again..
						</p>
					</div>
				</li>
			</ul>
		<% end %>

		<!-- International calling plan -->
		<% if fields["international_calling_plan"].present? and fields["international_calling_plan"]["simply_worldwide"].present? %>
			<h4>International Calling Plan</h4>
			<ul>

				<!-- Simply World wide -->
				<li>
					<% if fields["international_calling_plan"]["simply_worldwide"].downcase == "included" %>
						<p>
							Simply Worldwide (Included)
						</p>
					<% else %>
						<div class="checkbox">
							<%= check_box_tag :simply_worldwide, false, false, {:class => "styled", data: { price: fields["international_calling_plan"]["simply_worldwide"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
							<label class="label-checkbox">
								Simply Worldwide, ($<%= fields["international_calling_plan"]["simply_worldwide"] %> monthly)
							</label>
						</div>
					<% end %>
					<a role="button" data-toggle="collapse" href="#collaspeinternational_calling_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeinternational_calling_plan">
						<p class="well">
							Simply Worldwide is simply a great deal. For a low monthly fee, enjoy a rate of just .07 cents per minute to over 230 of the most called countries"
						</p>
					</div>
				</li>
			</ul>
		<% end %>

		<!-- Mexico Calling plan -->
		<% if fields["mexico_calling_plan"].present? and fields["mexico_calling_plan"]["mexico_200"].present? %>
			<h4>Mexico Calling Plans</h4>
			<ul>
				<!-- Mexico 200 plan -->
				<li>
					<% if fields["mexico_calling_plan"]["mexico_200"].downcase == "included" %>
						<p>
							Mexico 200 (Included)
						</p>
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag :mexico_200, false, false, {:class => "styled", data: { price: fields["mexico_calling_plan"]["mexico_200"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		             Mexico 200, ($<%= fields["mexico_calling_plan"]["mexico_200"] %> Monthly)
		          </label>
		        </div>
					<% end %>
					<a role="button" data-toggle="collapse" href="#collaspemexico_calling_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspemexico_calling_plan">
						<p class="well">
							Save more on calls to Mexico. Get 200 minutes to use any time on calls to landline phones in Mexico. Plus, get a low rate of 4 cents per minute for any minutes you use over 200.
						</p>
					</div>
				</li>
			</ul>
		<% end %>

		<!-- Directory listing -->
		<%= render partial: "offers/checkout/shared/cox/directory_listing", locals: { fields: fields } %>


		<!-- Telephone Equiptment EMTA -->
		<% if fields["telephone_equiptment"].present? and fields["telephone_equiptment"]["telephone_emta"].present? %>
			<h4>
				Telephone Equiptment EMTA
			</h4>
			<!-- telephone emta -->
			<ul>
				<% if fields["telephone_equiptment"]["telephone_emta"].downcase == "included" %>
					Telephone EMTA (Included)
				<% else %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :telephone_emta, false, false, {:class => "styled", data: { price: fields["telephone_equiptment"]["telephone_emta"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		             Telephone EMTA ($<%= fields["telephone_equiptment"]["telephone_emta"] %> Monthly)
		          </label>
		        </div>
					</li>
				<% end %>
			</ul>
		<% end %>

		<!-- Telephone no porting -->
		<%= render partial: "offers/checkout/shared/cox/telephone_no_porting", locals: { fields: fields } %>

		<li>
			<!-- Telephone outlet installation -->
			<% if fields["telephone_outlet_installation"].present? and fields["telephone_outlet_installation"]["outlet_installation"].present? %>
				<!-- Outlet Installation -->
				<h4>
					Telephone Outlet(s) Installation
					<p>
						<small>
							Do you need any additional Telephone Outlets for your home?
						</small>
					</p>
				</h4>
				<% if fields["telephone_outlet_installation"]["outlet_installation"].downcase == "included" %>
					<label class="label-checkbox">
						 Outlet Installation, (Included)
					</label>
				<% else %>
					<div class="checkbox">
						<%= check_box_tag :outlet_installation, false, false, {:class => "styled", data: { price: fields["telephone_outlet_installation"]["outlet_installation"], installation: true }, onchange: "calculateEquiptmentCosts(this);"}  %>
						<label class="label-checkbox">
							 Outlet Installation, ($<%= fields["telephone_outlet_installation"]["outlet_installation"] %> - <em>One time charges</em>)
						</label>
					</div>
				<% end %>
				<a role="button" data-toggle="collapse" href="#collaspeoutlet_install" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
				<div class="collapse" id="collaspeoutlet_install">
					<p class="well">
						Installation of additional phone jack wired and installed
					</p>
				</div>
			<% end %>
		</li>
	<% end %>
</div>
