<div class="checkout_application">
	<% case product.name.downcase %>
	<% when "cable" %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>
		
		<!-- <h4>Please configure your TV, Internet &amp; Home Phone Services</h4> -->
		<h4>Configure your 1st TV <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_1"].present? %>
				<li>
					<% if fields["contour_record_dvr_1"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_1", data: { price: fields["contour_record_dvr_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_1"].present? %>
				<li>
					<% if fields["contour_hd_dvr_1"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_2", data: { price: fields["contour_hd_dvr_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_1"].present? %>
				<li>
					<% if fields["contour_hd_receiver_1"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_3", data: { price: fields["contour_hd_receiver_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_1"].present? %>
				<li>
					<% if fields["mini_box_1"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_4", data: { price: fields["mini_box_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_4">
		            Mini Box ($<%= fields["mini_box_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_1"].present? %>
				<li>
					<% if fields["cable_card_1"].downcase == "included"  %>
						<p>Cable Card (<%= fields["cable_card_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_5", data: { price: fields["cable_card_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_5">
		            Cable Card ($<%= fields["cable_card_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Second TV -->
		<h4>Configure your 2nd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_2"].present? %>
				<li>
					<% if fields["contour_record_dvr_2"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_1", data: { price: fields["contour_record_dvr_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_2"].present? %>
				<li>
					<% if fields["contour_hd_dvr_2"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_2", data: { price: fields["contour_hd_dvr_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_2"].present? %>
				<li>
					<% if fields["contour_hd_receiver_2"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_3", data: { price: fields["contour_hd_receiver_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_1"].present? %>
				<li>
					<% if fields["mini_box_2"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_2"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_4", data: { price: fields["mini_box_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_4">
		            Mini Box ($<%= fields["mini_box_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_2"].present? %>
				<li>
					<% if fields["cable_card_1"].downcase == "included" %>
						<p>Cable Card (<%= fields["cable_card_1"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id:"second_tv_5", data: { price: fields["cable_card_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_5">
		            Cable Card ($<%= fields["cable_card_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Third TV -->
		<h4>Configure your 3rd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_3"].present? %>
				<li>
					<% if fields["contour_record_dvr_3"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_1", data: { price: fields["contour_record_dvr_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_3"].present? %>
				<li>
					<% if fields["contour_hd_dvr_3"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_2", data: { price: fields["contour_hd_dvr_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_3"].present? %>
				<li>
					<% if fields["contour_hd_receiver_3"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_3", data: { price: fields["contour_hd_receiver_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_3"].present? %>
				<li>
					<% if fields["cable_card_3"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_4", data: { price: fields["mini_box_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_4">
		            Mini Box ($<%= fields["mini_box_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_3"].present? %>
				<li>
					<% if fields["cable_card_3"].downcase == "included" %>
						<p>Cable Card (<%= fields["cable_card_3"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id:"third_tv_5", data: { price: fields["cable_card_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_5">
		            Cable Card ($<%= fields["cable_card_3"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Fourth TV -->
		<h4>Configure your 4th TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["contour_record_dvr_4"].present? %>
				<li>
					<% if fields["contour_record_dvr_4"].downcase == "included" %>
						<p>Contour Record 6 HD-DVR Receiver (<%= fields["contour_record_dvr_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_1", data: { price: fields["contour_record_dvr_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_1">
		            Contour Record 6 HD-DVR Receiver ($<%= fields["contour_record_dvr_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_dvr_4"].present? %>
				<li>
					<% if fields["contour_hd_dvr_4"].downcase == "included" %>
						<p>Contour HD-DVR Receiver (<%= fields["contour_hd_dvr_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_2", data: { price: fields["contour_hd_dvr_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_2">
		            Contour HD-DVR Receiver ($<%= fields["contour_hd_dvr_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["contour_hd_receiver_4"].present? %>
				<li>
					<% if fields["contour_hd_receiver_4"].downcase == "included" %>
						<p>Contour HD Receiver (<%= fields["contour_hd_receiver_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_3", data: { price: fields["contour_hd_receiver_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_3">
		            Contour HD Receiver ($<%= fields["contour_hd_receiver_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["mini_box_4"].present? %>
				<li>
					<% if fields["mini_box_4"].downcase == "included" %>
						<p>Mini Box (<%= fields["mini_box_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_4", data: { price: fields["mini_box_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_4">
		            Mini Box ($<%= fields["mini_box_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["cable_card_4"].present? %>
				<li>
					<% if fields["cable_card_4"].downcase == "included" %>
						<p>Cable Card (<%= fields["cable_card_4"] %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_5", data: { price: fields["cable_card_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_5">
		            Cable Card ($<%= fields["cable_card_4"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>
		<!-- Details -->
		<h4>
			(<a role="button" data-toggle="collapse" href="#collapseDetailsTV" aria-expanded="false" aria-controls="collapseExample">Equitpment Description</a>)
		</h4>
		<div class="collapse" id="collapseDetailsTV">
		  <div class="well">
		    <ol>
		    	<li>
		    		<strong>Contour Record 6 HD-DVR</strong>
		    		<p>
		    			<small>
		    				Record 6 HD-DVR Receiver - Record 6 shows at once and store 1,000 with the Contour Record 6 HD-DVR Receiver. Store all of your favorites, watch recorded shows on any TV in the house, start watching a recorded show in one room and resume watching it in another. All with one DVR. Record 6 Whole Home DVR Service - Record 6 Whole Home DVR Service is required to use your Record 6 Whole Home DVR.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Contour HD-DVR Receiver</strong>
		    		<p>
		    			<small>
		    				Contour HD-DVR Receiver - Automatically record a game, event or show, multiple episodes or an entire season of your favorite series. Pause and rewind live TV. Record one show while watching another or record two shows at once. The Contour DVR has up to 6 times the storage of our standard HD-DVR. Schedule your DVR from anywhere, anytime using your mobile device.
		    			</small>
		    		</p>
		    		<p>
		    			<small>
		    				Record 2 DVR Service - DVR (Digital Video Recorder) Service is required to use your Record 2 HD-DVR Receiver.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Contour HD Receiver</strong>
		    		<p>
		    			<small>
		    				Add up to 7 additional HD Receivers to your Contour Record 6 DVR Receiver and get our advanced program guide with personalized recommendations plus the ability to pause, record or watch recorded programs on any TV in your home.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Mini Box</strong>
		    		<p>
		    			<small>
		    				N/A
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>Cable Card</strong>
		    		<p>
		    			<small>
		    				A CableCARD is a digital cable decoder that's about the size of a credit card. It fits directly into a slot on select digital-cable-ready TVs. Renting this box-free alternative lets you watch digital channels without a set-top box. Please note: This requires a CableCARD ready device (such as a TiVo) or CableCARD ready Television set.
		    			</small>
		    		</p>
		    	</li>
		    </ol>
		  </div>
		</div>
		<!-- Premiumns  -->
		<% if fields["premiums"].downcase == "required" %>
			<h4>Premium Movie Channels</h4>
			<!-- <p>
				<small>
					<strong>Note:</strong> 
					Special Offer! Pick 1 premium for $10/mo, 2 premiums for $15/mo, 3 premiums for $20/mo, or 4 premiums for $25/mo for 6 months! Order Showtime today and get $25 cash back! See details at 
					<a href="http://www.showtimecoxrebate.com/" target="_blank">http://www.showtimecoxrebate.com/</a>
				</small>
			</p> -->
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :hbo, false, false, {:class => "styled", data: { price: 15 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            HBO ($15.00 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsehbo" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsehbo">
		          <p class="well">
		          	The most original and innovative shows are on HBO. Keep up with the most talked-about programs on television and bring the biggest blockbusters into your living room with HBO.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :cinemax, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Cinemax ($9.99 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsecinemax" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsecinemax">
		          <p class="well">
		          	Cinemax has you covered with the best Hollywood hits and action-packed original series.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :showtime, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Showtime ($9.99 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapseshowtime" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapseshowtime">
		          <p class="well">
		          	With the hottest Original Series, sports and movies anywhere, Showtime® is premium entertainment at its best.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :starz, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Starz ($9.99 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsestarz" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsestarz">
		          <p class="well">
		          	Contemporary hit movies, original series and documentaries on six premium channels, most available in HD and On Demand.
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<!-- TV Paks  -->
		<% if fields["tv_paks"].downcase == "required" %>
			<h4>TV Paks</h4>
			<!-- <p>
				<small>
					<strong>Note:</strong> 
					Special Offer! Order the Movie Pak today and get $25 cash back! See details at 
					<a href="http://www.starz.com/encoreoffers" target="_blank">http://www.starz.com/encoreoffers</a>
				</small>
			</p> -->
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :variety_pak, false, false, {:class => "styled", data: { price: 11.50 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Variety Pak ($11.50)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsevariety_pak" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsevariety_pak">
		          <p class="well">
		          	Get access to dozens of our most popular networks and get the best in lifestyle and special-interest programming. You'll be able to watch channels like Disney Jr, Disney XD, Nick Toons, VH1 Classic, MTV2, Hallmark Channel, Oxygen, Cooking Channel, BBC America.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :disney_on_demand, false, false, {:class => "styled", data: { price: 11.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Movie Pak ($11.00 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapdisney_on_demand" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapdisney_on_demand">
		          <p class="well">
		          	With some of our most popular movie channels, including Encore, you're sure to find entertainment to suit your mood. Enjoy channels such as ENCORE, Sundance, Epix, Fox Movie Channel.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :twc_movie_pass, false, false, {:class => "styled", data: { price: 10.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Sports and Information Pak ($10.00 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaptwc_movie_pass" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaptwc_movie_pass">
		          <p class="well">
		          	Stay up-to-date with your favorite teams with sports and informational programming, including channels like.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :hd_pass, false, false, {:class => "styled", data: { price: 6.95 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Sports Pak 2 ($6.95 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaphd_pass" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaphd_pass">
		          <p class="well">
		          	Even more of your favorite sports with the best football coverage and exciting outdoor adventures, including channels like NFL Redzone, NBC Universal Sports, Outside TV, World Fishing Network and other great sports networks.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :latino_pak, false, false, {:class => "styled", data: { price: 6.95 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Latino Pak ($6.95 monthly)
	          </label>
	          <!-- <p>
	          	Promotional Price: $5.00/mo
	          </p> -->
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspelatino_pak" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspelatino_pak">
		          <p class="well">
		          	The Latino Pak provides nine channels that offer the best in Spanish language programming, including Telefutura, Galavision, Discovery en Español, CNN en Español, FOX Deportes, ESPN Deportes, Tr3s, Azteca, GolTV. Latino Pak available for additional charge with minimum of Contour TV.
		          </p>
	          </div>
	          <!-- <p>
	          	<div class="alert alert-info">
	          		<strong>DISCOUNT: Latino Pak for $5/mo for 6 months for 6 months!</strong>
	          	</div>
	          </p> -->
	        </div>
				</li>
			</ul>
		<% end %>
		<hr />
	<% when "internet" %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>
		<% if fields["internet_equiptment"].downcase == "required" %>
			<h4>Internet Equipment <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
			<ul>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :internet_equiptment, false, false, {id: "internet_equiptment_1", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="internet_equiptment_1">
	            Premium Dual-Band WiFi Modem - Lease, ($9.99/Monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspeinternet_equiptment" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspeinternet_equiptment">
		          <p class="well">
		          	Combined Internet and Telephone WiFi Modem that utilizes 802.11ac WiFi technology to support the new Ultimate package speeds.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :internet_equiptment, false, false, {id: "internet_equiptment_2", data: { price: 6.95 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="internet_equiptment_2">
	            WiFi Internet &amp; Telephone Modem - Rent, ($6.99/Monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspeinternet_equiptment_1" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspeinternet_equiptment_1">
		          <p class="well">
		          	All-in-one Telephone adapter, DOCSIS 3.0 modem and Wireless 802.11N Router. The latest home networking technology in one, easy-to-setup device.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :internet_equiptment, false, false, {id: "internet_equiptment_3", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="internet_equiptment_3">
	            Internet &amp; Telephone Modem, (Free)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspeinternet_equiptment_2" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspeinternet_equiptment_2">
		          <p class="well">
		          	You can use your new Internet-Phone modem to connect to the Internet. Select this option to use the DOCSIS 3 Modem that Cox provides.
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		
		<% if fields["cox_teck_solutions"].downcase == "required" %>
			<h4>
				Cox Tech Solutions
				<small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small>
				<p>
					<small>
						Online Only! Subscribe to Cox Tech Solutions online at a special monthly rate and we'll waive the $99.99 one-time PC Tune-Up fee! Cox Tech Solutions allows you to stay up and running with unlimited 24/7 premium tech support for your PC, laptop and tablet devices.
					</small>
				</p>
			</h4>
			
			<ul>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :cox_tech_solutions, false, false, {id: "cox_solution_1", data: { price: 14.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="cox_solution_1">
	            Multi-device support, $14.99
	          </label>
	          <!-- <p>
	          	<div class="alert alert-info">
	          		<strong>DISCOUNT:</strong> Multi Device Support - $9.99/mo for 24 months for 24 months!
	          	</div>
	          </p> -->
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :cox_tech_solutions, false, false, {id: "cox_solution_2", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="cox_solution_2">
	            Single device support, $9.99 - Promotional Price: $3.00/mo
	          </label>
	          
	          <!-- <p>
	          	<div class="alert alert-info">
	          		<strong>DISCOUNT:</strong> Single Device Support - $6.99/mo for 24 mos for 24 months!
	          	</div>
	          </p> -->
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :cox_tech_solutions, false, false, {id: "cox_solution_none", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="cox_solution_none">
	            None
	          </label>
	          <p>
	          	I don't want Cox Tech Solutions
	          </p>
	        </div>
				</li>
			</ul>
      <a role="button" data-toggle="collapse" href="#collaspecox_tech_solutions" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
			<div class="collapse" id="collaspecox_tech_solutions">
        <p class="well">
        	Cox Tech Solutions (CTS) is your personal IT concierge, available 24/7 for support, training and advice. It's designed to help you get the most out of your in-home technology by providing real-time diagnoses and resolutions for PC crashes, virus removal, home network support, training, technology education and much more. This option covers a single device, including a PC, tablet or laptop.
        </p>
      </div>
		<% end %>
		<hr />
	<% else %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>
		<% if fields["long_distance"].downcase == "required" %>
			<h4>Long Distance</h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :long_distance, false, false, {:class => "styled", data: { price: 4.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Simply 5 Long Distance, $4.99
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspelong_distance" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspelong_distance">
		          <p class="well">
		          	Talk it up with friends and family across the country for just 5 cents per minute - far less than the standard long distance rate!
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :cox_long_distance, false, false, {:class => "styled", data: { price: 0.18 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Cox Long Distance
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspecox_long_distance" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspecox_long_distance">
		          <p class="well">
		          	With Cox Long Distance, you pay just $0.18/min.
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<% if fields["calling_features"].downcase == 'required' %>
			<h4>Additional Calling Features</h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :calling_features, false, false, {:class => "styled", data: { price: 6.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Voice Mail, ($6.99/Month)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspecalling_features" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspecalling_features">
		          <p class="well">
		          	Voicemail - Never miss an important message again..
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>

		<% if fields["international_calling_plan"].downcase == 'required' %>
			<h4>International Calling Plan</h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :international_calling_plan, false, false, {:class => "styled", data: { price: 2.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Simply Worldwide, ($2.99 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspeinternational_calling_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspeinternational_calling_plan">
		          <p class="well">
		          	Simply Worldwide is simply a great deal. For a low monthly fee, enjoy a rate of just 70-80 (Mexico) cents per minute to over of the most called countries.
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<% if fields["mexico_calling_plan"].downcase == 'required' %>
			<h4>Mexico Calling Plans</h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :mexico_calling_plan, false, false, {:class => "styled", data: { price: 7.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	             Mexico 200, ($7.99 Monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspemexico_calling_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspemexico_calling_plan">
		          <p class="well">
		          	Save more on calls to Mexico. Get 200 minutes to use any time on calls to landline phones in Mexico. Plus, get a low rate of 4 cents per minute for any minutes you use over 200.
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<% if fields["directory_listing"].downcase == 'required' %>
			<h4>
				Directory Listing <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small>
				<p>
					<small>
						How would you like your name to appear in the phone directory? Don't worry, you'll have a chance to review and make edits on the Order Summary page.
					</small>
				</p>
			</h4>
			
			<ul>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :directory_listing, false, false, {:id => "directory_listing", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="directory_listing">
	            Published Directory Listing
	          </label>
	          <p>
	          	Show my name, number and address in the White Pages and 411 listing
	          </p>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :directory_listing, false, false, {:id => "name_and_number", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="name_and_number">
	            Name and Number Only Directory Listing
	          </label>
	          <p>
	          	Show my name, number and address in the White Pages and 411 listing
	          </p>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :directory_listing, false, false, {:id => "name_and_number_411", data: { price: 3.50 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="name_and_number_411">
	            Name and Number in 411 Directory Listing, ($3.50 monthly)
	          </label>
	          <p>
	          	Show just my name and number in the 411 Listing
	          </p>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :directory_listing, false, false, {:id => "non_published_directory", data: { price: 4.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="non_published_directory">
	            Non Published Directory Listing, ($4.00 monthly)
	          </label>
	          <p>
	          	Don't list me in the White Pages or 411 Listing
	          </p>
	        </div>
				</li>
				<% if fields["directory_name"].downcase == 'required' %>
					<li>
						<label>Enter Name:</label>
						<%= text_field_tag :directory_entered_name, params[:directory_entered_name], class: "form-control" %>
						<p>
							What name would you like your directory listing to be under?
						</p>
					</li>
				<% end %>
			</ul>
		<% end %>
		<% if fields["telephone_outlet_installation"].downcase == 'required' %>
			<h4>
				Telephone Outlet(s) Installation
				<p>
					<small>
						Do you need any additional Telephone Outlets for your home?
					</small>
				</p>
			</h4>
			
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :outlet_install, false, false, {:class => "styled", data: { price: 20.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	             Outlet Installation, ($20.00 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspeoutlet_install" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspeoutlet_install">
		          <p class="well">
		          	Installation of additional phone jack wired and installed
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<% if fields["telephone_no_porting"].downcase == 'required' %>
			<h4>Telephone Number Porting 
				<span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small>
				<p>
					<small>
						Would you like to keep your current number?
					</small>
				</p>
			</h4>
			
			<ul>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :current_telephone_number, false, false, {id: "current_telephone_number_1", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="current_telephone_number_1">
	            I want to keep my current telephone number
	          </label>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :current_telephone_number, false, false, {id: "current_telephone_number_2", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="current_telephone_number_2">
	            Please provide me with a new telephone number
	          </label>
	        </div>
				</li>
			</ul>
      <a role="button" data-toggle="collapse" href="#collaspecurrent_telephone_number" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
			<div class="collapse" id="collaspecurrent_telephone_number">
        <p class="well">
        	Your new number will be provided upon installation.
        </p>
      </div>
		<% end %>
		
		<% if fields["cox_service_protection_plan"].downcase == 'required' %>
			<h4>Cox Service Protection Plan </h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :cox_service_protection_plan, false, false, {:class => "styled", data: { price: 6.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	             Cox Service Protection Plan, $6.99
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collaspecox_service_protection_plan" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collaspecox_service_protection_plan">
			        <div class="well">
			        	<p>
			          	Get peace of mind knowing that the wiring for your Cox TV, Internet and Phone service is protected.
			          </p>
			          <p>
			          	Cox Service Protection Plan (CSPP) covers the repair of all cabling and phone wiring in your home, including outlets and jacks, and inspection of your home wiring to ensure that it is up to Cox standards. CSPP covers replacing and repairing defective cable industry standard wiring (coax, splitters, fittings and telephone wiring), running from the outside of the home to the back of the digital receiver, TV, modem or telephone outlet. CSPP does not cover customer education calls, failed self-activations, and substandard wiring or splitters. Examples of customer education that is not "included" in CSPP service include TV on the wrong input, setup of non-Cox equipment, and incorrect hookup after moving or adding new equipment. Some restrictions apply.
			          </p>
			        </div>
			      </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<% if fields["service_agreement"].downcase == 'yes' %>
			<h4>Service Agreement</h4>
			<ul>
				<li>
					You can change the service agreement term to better fit your needs. This term will apply to all selected services. Any change to your service term may alter your package, bundle pricing or discounts. Save more on your monthly cost by selecting a longer service agreement term.
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :service_agreement, false, false, {id: "service_agreement_lock_1", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="service_agreement_lock_1">
	            Don't lock in my rate
	          </label>
	        </div>
				</li>
				<li>
					<div class="checkbox" style="padding-left: 5px;">
	          <%= radio_button_tag :service_agreement, false, false, {id: "service_agreement_lock_2", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox" for="service_agreement_lock_2">
	            Lock in my rate for 24 months
	          </label>
	        </div>
				</li>
			</ul>
      <a role="button" data-toggle="collapse" href="#collaspeservice_agreement" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
			<div class="collapse" id="collaspeservice_agreement">
        <div class="well">
        	<p>
        		Price Lock Guarantee lets you lock in the regular rates on Cox TV, Internet and Phone services for 24 months. The rates for your services will not increase above the price lock rate when you agree to keep your main services (TV, Internet and/or Phone) for the 24 months. What's covered and not covered Price Lock Guarantee is offered on TV, Internet and Phone services plus their features, such as a premium channel or voice mail. Price Lock Guarantee does not apply to charges for equipment (such as a receiver or modem), per use items (like a movie rental) and fees for non-services (like taxes and surcharges) which may change.
        	</p>
        </div>
      </div>
		<% end %>
	<% end %>
</div>

