<div class="bs-callout bs-callout-danger" style="background-color: #E0E0E0;" id="callout-collapse-dependency">
	<h4 class="setup">
		Installation <span class="checkout_required">(Required)</span>
	</h4>
</div>
<% unless @package.installation_price.downcase == "free" or @package.installation_price.downcase == "included" %>
	<h4>
		<small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small>
	</h4>
<% end %>
<ul>
	<li>
		<% unless @package.installation_price.downcase == "free" or @package.installation_price.downcase == "included" %>
			<div class="checkbox" style="padding-left: 5px;">
				<%= radio_button_tag :installation, false, false, {id: "installation", data: { price: @package.installation_price, installation: true }, onchange: "calculateEquiptmentCosts(this);"}  %>
        <label class="label-checkbox" for="installation">
          Schedule an appointment for a technician to install my services (<%= @package.installation_price %>) 
        </label>
      </div>
    <% else %>
    	<label class="label-checkbox">
        Schedule an appointment for a technician to install my services (Free) 
      </label>
    <% end %>
	</li>
	<% if @package.provider.name == Provider::TIME_WARNER %>
  	<li>
  		<div class="checkbox" style="padding-left: 5px;">
				<%= radio_button_tag :installation, false, false, {id: "self_installation", data: { price: 0, installation: true }, onchange: "calculateEquiptmentCosts(this);"}  %>
        <label class="label-checkbox" for="self_installation">
          I’ll do a self-install ($0)
        </label>
      </div>
      <a role="button" data-toggle="collapse" href="#collapseSelfInstall" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
			<div class="collapse" id="collapseSelfInstall">
				<div class="well">
					<p>
          	For self-install option you will receive a call after placing your order about connectivity of self-install if available for this address. You may also call us to enquire about this first. 
          </p>
          <p>
          	Example Snapshot doesn’t have all the option shown above but we will need to design all the menus as above.
          </p>
				</div>
      </div>
  	</li>  	
  <% end %>
  <% if @package.provider.name == Provider::CHARTER_SPECTRUM %>
  	<% fields = get_in_hash(@charter_fields) %>
  	<li>
  		<% if fields["wifi_installation"].present? %>
	  		<% if fields["wifi_installation"].downcase == "included" %>
	  			WiFi Installation Service is included in this package
	  		<% else %>
	  			<div class="checkbox">
						<%= check_box_tag :wifi_installation, false, false, {:class => "styled", data: { price: fields["wifi_installation"].to_f, installation: true }, onchange: "calculateEquiptmentCosts(this);"}  %>
		        <label class="label-checkbox" for="self_installation">
		          Schedule an appointment for a technician to install my WiFi services ($<%= fields["wifi_installation"].to_f %> One Time)
		        </label>
		      </div>
	  		<% end %>
  		<% end %>
  	</li>  	
  <% end %>
</ul>