<div class="checkout_application">
	<% case product.name.downcase %>
	<% when "cable" %>
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>
		
		<!-- <h4>Please configure your TV, Internet &amp; Home Phone Services</h4> -->
		<h4>Configure your 1st TV <span class="checkout_required">(Required)</span></h4>
		<ul>
			<% if fields["dvr_box_1"].present? %>
				<li>
					<% if fields["dvr_box_1"].downcase == "included" %>
						<p>Enhanced DVR Box &amp; Service (<%= fields["dvr_box_1"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_1", data: { price: fields["dvr_box_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_1">
		            Enhanced DVR Box &amp; Service ($<%= fields["dvr_box_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["additional_hd_1"].present? %>
				<li>
					<% if fields["additional_hd_1"].downcase == "included" %>
						<p>HD Box (<%= fields["additional_hd_1"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_2", data: { price: fields["additional_hd_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_2">
		            HD Box ($<%= fields["additional_hd_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["dta_1"].present? %>
				<li>
					<% if fields["dta_1"].downcase == "included" %>
						<p>DTA Box (<%= fields["dta_1"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :first_tv, false, false, {id: "first_tv_3", data: { price: fields["dta_1"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="first_tv_3">
		            DTA Box ($<%= fields["dta_1"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
		</ul>

		<!-- Second TV -->
		<h4>Configure your 2nd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["dvr_box_2"].present? %>
				<li>
					<% if fields["dvr_box_2"].downcase == "included" %>
						<p>Enhanced DVR Box &amp; Service (<%= fields["dvr_box_2"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id: "second_tv_1", data: { price: fields["dvr_box_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_1">
		            Enhanced DVR Box &amp; Service ($<%= fields["dvr_box_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["additional_hd_2"].present? %>
				<li>	
					<% if fields["additional_hd_2"].downcase == "included" %>
						<p>HD Box (<%= fields["additional_hd_2"].capitalize %>)</p>
					<% else %>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id: "second_tv_2",  data: { price: fields["additional_hd_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_2">
		            HD Box ($<%= fields["additional_hd_2"] %>)
		          </label>
		        </div>
	        <% end %>
				</li>
			<% end %>
			<% if fields["dta_2"].present? %>
				<% if fields["dta_2"].downcase == "included" %>
					<p>DTA Box (<%= fields["dta_2"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :second_tv, false, false, {id: "second_tv_3", data: { price: fields["dta_2"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="second_tv_3">
		            DTA Box ($<%= fields["dta_2"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
		</ul>

		<!-- Third TV -->
		<h4>Configure your 3rd TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["dvr_box_3"].present? %>
				<% if fields["dvr_box_3"].downcase == "included" %>
					<p>Enhanced DVR Box &amp; Service (<%= fields["dvr_box_3"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id: "third_tv_1", data: { price: fields["dvr_box_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_1">
		            Enhanced DVR Box &amp; Service ($<%= fields["dvr_box_3"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["additional_hd_3"].present? %>
				<% if fields["additional_hd_3"].downcase == "included" %>
					 <p>HD Box (<%= fields["additional_hd_3"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id: "third_tv_2", data: { price: fields["additional_hd_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_2">
		            HD Box ($<%= fields["additional_hd_3"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>	
			<% if fields["dta_3"].present? %>
				<% if fields["dta_3"].downcase == "included" %>
					<p>DTA Box (<%= fields["dta_3"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :third_tv, false, false, {id: "third_tv_3", data: { price: fields["dta_3"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="third_tv_3">
		            DTA Box ($<%= fields["dta_3"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
		</ul>

		<!-- Fourth TV -->
		<h4>Configure your 4th TV <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["4th_tv_install_4"].present? %>
				<% if fields["4th_tv_install_4"].downcase == "included" %>
					<p>4th Outlet Activation (<%= fields["4th_tv_install_4"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag "4th_tv_outlet", false, false, {:class => "styled",  data: { price: fields["4th_tv_install_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            4th Outlet Activation Fee ($<%= fields["4th_tv_install_4"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["dvr_box_4"].present? %>
				<% if fields["dvr_box_4"].downcase == "included" %>
					<p>Enhanced DVR Box &amp; Service (<%= fields["dvr_box_4"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_1", data: { price: fields["dvr_box_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_1">
		            Enhanced DVR Box &amp; Service ($<%= fields["dvr_box_4"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["additional_hd_4"].present? %>
				<% if fields["additional_hd_4"].downcase == "included" %>
					<p>HD Box (<%= fields["additional_hd_4"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_2", data: { price: fields["additional_hd_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_2">
		            HD Box ($<%= fields["additional_hd_4"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
			<% if fields["dta_4"].present? %>
				<% if fields["dta_4"].downcase == "included" %>
					<p>DTA Box (<%= fields["dta_4"].capitalize %>)</p>
				<% else %>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :fourth_tv, false, false, {id: "fourth_tv_3", data: { price: fields["dta_4"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="fourth_tv_3">
		            DTA Box ($<%= fields["dta_4"] %>)
		          </label>
		        </div>
					</li>
				<% end %>
			<% end %>
		</ul>
		<!-- Details -->
		<h4>
			(<a role="button" data-toggle="collapse" href="#collapseDetailsTV" aria-expanded="false" aria-controls="collapseExample">Equiptment Description</a>)
		</h4>
		<div class="collapse" id="collapseDetailsTV">
		  <div class="well">
		    <ol>
		    	<!-- <li>
		    		<strong>4th Outlet Activation Fee</strong>
		    	</li> -->
		    	<li>
		    		<strong>Enhanced DVR Box &amp; Service</strong>
		    		<p>
		    			<small>
		    				Record and play programs on just one TV, up to 6 programs at once. With 1 TB of storage, you can store up to 150+ hours of HD programming. Manage recordings away from home with TWC TV®.
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>HD Box</strong>
		    		<p>
		    			<small>
		    				Watch programming in high definition and digital programming. Access to the Guide, Start Over®, Look Back®, Parental Controls, On Demand and Pay Per View
		    			</small>
		    		</p>
		    	</li>
		    	<li>
		    		<strong>DTA Box</strong>
		    		<p>
		    			<small>
		    				Watch Standard channels that are in your subscribed TV Plan
		    			</small>
		    		</p>
		    	</li>
		    </ol>
		  </div>
		</div>
		<!-- More Fun with More Entertainment  -->
		<% if fields["more_fun_with_more_entertainment"].downcase == "required" %>
			<h4>More Fun with More Entertainment</h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :hbo, false, false, {:class => "styled", data: { price: 15.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            HBO ($15.00 monthly)
	          </label>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :cinemax, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Cinemax ($9.99 monthly)
	          </label>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :showtime, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Showtime ($9.99 monthly)
	          </label>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :movie_channel, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            The Movie Channel ($9.99 monthly)
	          </label>
	          <a role="button" data-toggle="collapse" href="#collapsemovie_channel" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsemovie_channel">
		          <p class="well">
		          	Catch critically acclaimed original series and Hollywood blockbusters!
		          </p>
	          </div>
	          
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :starz, false, false, {:class => "styled", data: { price: 9.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Starz ($9.99 monthly)
	          </label>
	          <a role="button" data-toggle="collapse" href="#collapsestarz" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsestarz">
		          <p class="well">
		          	STARZ® and STARZ® Play offer 300+ movies every month on six channels and deliver breakthrough original programming
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<!-- More Entertainment for every one  -->
		<% if fields["more_fun_for_everyone"].downcase == "required" %>
			<h4>More Entertainment for Everyone</h4>
			<ul>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :twc_sports, false, false, {:class => "styled", data: { price: 10.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            TWC Sports Pass ($10.00 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsetwc_sports" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsetwc_sports">
		          <p class="well">
		          	Get more games, events and exclusive online content with more than a dozen popular sports channels like NFL RedZone, FOX Soccer Plus, CBS Sports Network and Tennis Channel.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :disney_on_demand, false, false, {:class => "styled", data: { price: 3.99 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            Disney On Demand ($3.99 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsedisney_on_demand" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsedisney_on_demand">
		          <p class="well">
		          	Kids will love having access anytime to the most popular Disney Channel® and Playhouse Disney series. Plus, watch original movies and series up to one week before they air on Disney Channel.
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :twc_movie_pass, false, false, {:class => "styled", data: { price: 10.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            TWC Movie Pass ($10.00 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsetwc_movie_pass" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsetwc_movie_pass">
		          <p class="well">
		          	Includes Encore, Fox Movie Channel, Sundance and more!
		          </p>
	          </div>
	        </div>
				</li>
				<li>
					<div class="checkbox">
	          <%= check_box_tag :hd_pass, false, false, {:class => "styled", data: { price: 6.95 }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          <label class="label-checkbox">
	            HD Pass ($6.95 monthly)
	          </label>
	          <br />
	          <a role="button" data-toggle="collapse" href="#collapsehd_pass" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
						<div class="collapse" id="collapsehd_pass">
		          <p class="well">
		          	Expand your HD experience with a wide range of programming from Smithsonian HD, MAV TV HD, MGM HD and Universal HD.
		          </p>
	          </div>
	        </div>
				</li>
			</ul>
		<% end %>
		<h4>More Spanish Entertainment for Everyone</h4>
		<ul>
			<li>
				<div class="checkbox">
          <%= check_box_tag :spanish_programming, false, false, {:class => "styled", data: { price: 5.00 }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox">
            Spanish Programming ($5.00 Monthly)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collapsespanish_programming" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collapsespanish_programming">
	          <p class="well">
	          	More than 40 Spanish-language channels, including Discovery Espanol, ESPN Deportes HD and Mun2.
	          </p>
          </div>
        </div>
			</li>
		</ul>
		<% if fields["epix_offer"].present? %>
			<h4>EPIX Offer <span class="checkout_required"></span></h4>
			<ul>
				<li>
					<% if fields["epix_offer"].downcase == "included" %>
						EPIX Offer (Included)
					<% else %>
						<div class="checkbox">
		          <%= check_box_tag :epix_offer, false, false, {:class => "styled", data: { price: fields["epix_offer"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            EPIX Offer ($<%= fields["epix_offer"] %>)
		          </label>
		        </div>
	        <% end %>
	        <p>
	        	If you would like to add EPIX free for 12 months.
	        </p>
				</li>
			</ul>
		<% end %>
		<hr />
	<% when "internet" %>

		<!-- Fields For Internet -->
		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>


		<% if fields["modem"].present? %>
			<h4>Internet Modem <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
			<% if fields["modem"].downcase == "included" or fields["modem"].blank? %>
				Modem is included in this package
			<% else %>
				<ul>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :modem, false, false, {id: "modem_with", data: { price: fields["modem"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="modem_with">
		            Internet plan requires modem to connect internet service ($<%= fields["modem"] %>/Monthly)
		          </label>
		        </div>
					</li>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :modem, false, false, {id: "modem_own", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="modem_own">
		            I’ll use my own internet modem ($0)
		          </label>
		        </div>
					</li>
				</ul>
				<!-- <div class="alert alert-info">
					<strong>Please Note:</strong>
					<p>
						Time Warner Cable does not sell modems. If you don't have a modem when we install your Internet service, we'll install an Internet Modem for you. The standard monthly modem rate (above) will apply.)
					</p>
				</div> -->
			<% end %>
		<% end %>

		<% if fields["wifi"].present? %>
			<h4>WiFi Service &amp; Equiptment <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
			<% if fields["wifi"].downcase == "included"%>
				WiFi Service is included in this package
			<% else %>
				<ul>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :wifi, false, false, {id: "wifi_with", data: { price: fields["wifi"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="wifi_with">
		            Yes, I want to add home WiFi ($<%= fields["wifi"] %>)
		          </label>
		        </div>
					</li>
					<li>
						<div class="checkbox" style="padding-left: 5px;">
		          <%= radio_button_tag :wifi, false, false, {id: "wifi_own", data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="wifi_own">
		            I’ll use my own wireless router ($0)
		          </label>
		        </div>
					</li>
				</ul>
				<!-- <div class="alert alert-info">
					<strong>Please Note:</strong>
					<p>
						Time Warner Cable does not sell modems. If you don't have a modem when we install your Internet service, we'll install an Internet Modem for you. The standard monthly modem rate (above) will apply.)
					</p>
				</div> -->
			<% end %>
		<% end %>
		<hr />
	<% else %>

		<!-- Fields for Phone -->

		<% fields = get_in_hash(@package_bundles.find_by_product_id(product.id).checkout_fields) %>
		<%#= fields %>

		<h4>PHONE <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
		<ul>
			<% if fields["new_phone_number"].present? %>
				<li>
					<% unless fields["new_phone_number"].downcase == "included" %>
						<div class="checkbox" style="padding-left: 5px;">
	          	<%= radio_button_tag :phone, false, false, {id: "phone_1", data: { price: fields["new_phone_number"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox" for="phone_1">
		            New Phone Number ($<%= fields["new_phone_number"] %>)
	            </label>
		        </div>
					<% else %>
						New Phone Number (<%= fields["new_phone_number"] %>)
	        <% end %>
          <a role="button" data-toggle="collapse" href="#collapsephone" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collapsephone">
	          <p class="well">
	          	Get a new phone number with Time Warner Cable &reg; TV Home Phone and avoid the waiting time to have your existing number ported. Activation Fees vary by market.
	          </p>
          </div>
				</li>
			<% end %>
			<% if fields["transfer_phone_number"].present? %>
				<li>
					<% unless fields["transfer_phone_number"].downcase == "included" %>
						<div class="checkbox" style="padding-left: 5px;">
	          	<%= radio_button_tag :phone, false, false, {id: "phone_2", data: { price: fields["transfer_phone_number"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
	          	<label class="label-checkbox" for="phone_2">
		            Transfer Phone Number ($<%= fields["transfer_phone_number"] %>)
		          </label>
		        </div>
	        <% else %>
            Transfer Phone Number (<%= fields["transfer_phone_number"] %>)
        	<% end %>
          <a role="button" data-toggle="collapse" href="#collapsephone_1" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collapsephone_1">
	          <p class="well">
	          	Keep your old phone number when you switch to Time Warner Home Phone service. Activation Fees vary by market. 
	          	<span class="checkout_required">Third party verification is required</span>.
	          </p>
          </div>
				</li>
			<% end %>
		</ul>
		<h4>Please select your additional phone plans</h4>
		<ul>
			<% if fields["international_one_price"].present? %>
				<% unless fields["international_one_price"].downcase == "included" %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :international_one_price, false, false, {:class => "styled", data: { price: fields["international_one_price"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            INTERNATIONAL ONE PRICE ($<%= fields["international_one_price"] %> monthly)
		          </label>
		        </div>
					</li>
				<% else %>
					<p>International One Price is included in this package</p>
				<% end %>
			
	      <a role="button" data-toggle="collapse" href="#collapseinternational_one_price" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
				<div class="collapse" id="collapseinternational_one_price">
	        <p class="well">
	        	You can call up to 1,000 minutes a month to land-line phones in over 100 countries and cellphones in 14 countries. International OnePrice® gives you low rates after the 1,000 minutes are used.
	        </p>
	      </div>
      <% end %>

			<% if fields["global_penny_plan"].present? %>
				<% unless fields["global_penny_plan"].downcase == "included" %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :sign_up_global_penny, false, false, {:class => "styled", data: { price: fields["global_penny_plan"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Sign up for the Global Penny Phone Plan ($<%= fields["global_penny_plan"] %> monthly)  
		          </label>
		        </div>
					</li>

				<% else %>
					<p>Global Penny is included in this package</p>
				<% end %>
				<a role="button" data-toggle="collapse" href="#collapsesign_up_global_penny" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
				<div class="collapse" id="collapsesign_up_global_penny">
	        <p class="well">
	        	Our pay-as-you-go plan gives you penny per minute rates to over 40 countries and highly competitive rates to everywhere else. And it is free for 12 months when you sign up for any Triple Play package.
	        </p>
	      </div>
			<% end %>

			<% if fields["voice_mail"].present? %>
				<% unless fields["voice_mail"].downcase == "included" %>
					<li>
						<div class="checkbox">
		          <%= check_box_tag :voice_mail, false, false, {:class => "styled", data: { price: fields["voice_mail"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
		          <label class="label-checkbox">
		            Voice Mail ($<%= fields["voice_mail"] %> monthly)  
		          </label>
		        </div>
					</li>
				<% else %>
					<p>Voice Mail is included in this package</p>
				<% end %>
				<a role="button" data-toggle="collapse" href="#collapsevoice_mail" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
				<div class="collapse" id="collapsevoice_mail">
	        <p class="well">
	        	Voice Mail allows you to get your calls when you are away or cannot get to the phone. And there is no equipment to buy.
	        </p>
	      </div>
			<% end %>

		</ul>
	<% end %>
</div>

