<div id="package_provider" data-provider="<%= @package.provider.acronym %>"></div>
<div class="extra_equiptments">
	<div class="container">
		<!-- Checkout Form -->
		<!-- offer_checkout_path(@package, Package.checkout_steps.second.to_s), method: :get -->
		<%= form_for @package, url: wizard_path, method: :put, :html => { id: "extra_equiptments_form" } do %>
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<blockquote>
					  <h2 class="page-header" style="margin: 20px 0 20px;">
							<%= @package.package_name %>
						</h2>
					  <footer>Configure your equipment &amp; setup installation</footer>
					</blockquote>
					<div class="panel panel-default">
						<div class="panel-body">
							<% @products.each do |product| %>
								<div class="bs-callout bs-callout-danger" style="background-color: #E0E0E0;" id="callout-collapse-dependency">
									<h4 class="setup">
										<%= product.name == "Cable" ? "Setup your TV Service" : product.name == "Internet" ? "Setup your Internet Service" : "Setup your Phone Service" %>
									</h4>
								</div>
								<%= render partial: "#{@package.provider.acronym}_equiptments", locals: { product: product, package: @package } %>
							<% end %>

							<% if @provider.name == Provider::COX %>
								<%= render partial: "offers/checkout/shared/cox/cox_additional_details" %>
							<% end %>

							<%= render partial: "installation" %>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 follow-equiptments">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title">
								<ul class="list-inline">
									<li>Plan Summary</li>
									<li class="pull-right">
										<%= link_to "Change Plan", offers_path(filters: "tv_filter") %>
									</li>
								</ul>
							</div>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled">
								<li class="summary-logo">
									<%= provider_logo(@package.provider) %>
								</li>
								<hr />
								<li>
									<ul class="list-inline">
										<li>
											<strong>Package Price</strong>
										</li>
										<li class="pull-right">
											<%= number_to_currency(@package.price) %>
										</li>
									</ul>
								</li>
								<li>
									<ul class="list-inline">
										<li>
											<strong>Installation Price</strong>
										</li>
										<li class="pull-right">
								  		$
											<%= hidden_field_tag :installation_cost, 0 %>
											<span class="installation_cost_span">0.00</span>
										</li>
									</ul>
									<em>(One time charges)</em>
								</li>
								<li>
									<ul class="list-inline">
										<li>
											<strong>Equiptment Price</strong>
										</li>
										<li class="pull-right">
											$
											<%= hidden_field_tag :equiptment_cost, 0 %>
											<span class="equiptment_cost_span">0.00</span>
										</li>
									</ul>
								</li>
								<li class="disclaimer">
									<div class="alert alert-warning" role="alert">
										<strong>Disclaimer:</strong>
										This amount excludes taxes. Actual taxes &amp; fees will be calculated &amp; reflect on your billing statement
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-footer">
							<ul class="list-inline">
								<li>
									Total
								</li>
								<li class="pull-right">
									<%= hidden_field_tag :total_cost, @package.price.to_f.round(2) %>
									<span class="label label-success total_cost_span">
							  		<%= number_to_currency(@package.price) %>
							  	</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<%= button_tag "Proceed", type: :submit, class: "btn btn-un btn-lg" %>
		<% end %>
	</div>
</div>
