<div class="providers">
  <div class="providers-search">
    <div id="search-deals" style="background: url('<%= asset_path(@provider_banner) %>'); min-height: 490px; padding: 113px 0px 0px 107px;">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <%= render partial: "shared/search_deals" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="category-panel-title" style="margin-bottom: 45px;">Get more from your TV</div>
              <div class="category">TV</div>
              <p>
                <label>FEATURES</label>
                <br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>Speed</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>WIFI</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> 
                  <strong>TWC Central</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>Self-Installation</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="category-panel-title" style="margin-bottom: 45px;">The internet just got better</div>
              <div class="category">Internet</div>
              <p>
                <label>FEATURES</label>
                <br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>Speed</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>WIFI</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> 
                  <strong>TWC Central</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>Self-Installation</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="category-panel-title">Home phone dialed in to and on-the-go world</div>
              <div class="category">Phone</div>
              <p>
                <label>FEATURES</label>
                <br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>Speed</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>WIFI</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> 
                  <strong>TWC Central</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  </div>
                </li>
                <li>
                  <i class="fa fa-check-circle-o fa-1x"></i> <strong>Self-Installation</strong>
                  <br />
                  <div class="list-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="heading">
            More movies, more sports more to enjoy.
          </span>
        </div>
        <div class="col-md-4">
          <span class="heading">PREMIUM CHANNELS</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </p>
          <ul class="list-inline">
            <li><%= image_tag("hbo-logo.png") %></li>
            <li><%= image_tag("cinemax logo.png") %></li>
            <li><%= image_tag("starz logo.png") %></li>
            <li><%= image_tag("tmc logo.png") %></li>
            <li><%= image_tag("showtime logo.png") %></li>
            <li><%= image_tag("epix logo.png") %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <span class="heading">SPORTS</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </p>
          <ul class="list-inline">
            <li><%= image_tag("MBL logo.png") %></li>
            <li><%= image_tag("NBA logo.png") %></li>
            <li><%= image_tag("NHL logo.png") %></li>
            <li><%= image_tag("direct kick logo.png") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-3">
    <div class="container">
      <div class="packages-category-name">
        <ul class="list-inline">
          <li class="active">
            <a href="#filter_with_tv" class="filtering" aria-controls="tv" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              TV
              <span class="package-filter" style="background-image: url('assets/filter-circle-select.png');"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_internet" class="filtering" aria-controls="internet" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              INTERNET
              <span class="package-filter"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_phone" class="filtering" aria-controls="phone" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              PHONE
              <span class="package-filter"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_bundles" class="filtering" aria-controls="bundles" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              BUNDLES
              <span class="package-filter"></span>
            </a>
          </li>
        </ul>
      </div>
      <%= render partial: "shared/filters" %>
    </div>
  </div>
</div>