<!-- Banner -->
<div class="landing">
  <div id="search-deals" class="provider-pages-form">
    <div class="mobile-view">
      <%= render partial: "shared/search_deals" %>
    </div>
    <div class="desktop-view">
      <div id="bannerImage" class="carousel slide">  
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag(@provider_banner, class: "slider-img") %>
            
            <!-- Search Box -->
            <div class="container">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-md-6" style="margin-left: -8.3%;">
                    <%= render partial: "shared/search_deals" %>    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content -->
<div class="providers">
  <div class="section-1">
    <div class="container">
      <% if params[:action] == "twc" %>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="category-panel-title" style="margin-bottom: 45px;">Get more from your TV</div>
                <div class="category">TV</div>
                <p>
                  With some of the most advanced features around your TV will never be the same.
                </p>
                <label>FEATURES</label>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>DVR</strong>
                    <br />
                    <div class="list-text">
                      Watch whatever you want, whenever you want with one of our three DVR options
                      <ul>
                        <li><strong>Standard DVR - </strong>Pause, rewind and record your movies and shows to watch them on your time</li>
                        <li><strong>Whole House DVR - </strong>Watch any recording any time in any room with a DVR</li>
                        <li><strong>Enhanced DVR - </strong>Record upto six shows at once, and enjoy six times the storage as Standard DVR</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>WIFI</strong>
                    <br />
                    <div class="list-text">
                      Watch whatever you
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>TXC TV App</strong>
                    <br />
                    <div class="list-text">
                      Control your TV and DVR with your mobile device. Plus watch your favorite program live. And it's all free with your service. TXC TV app rated #1 Play TV Distributor App by Fierce Cable
                    </div>
                  </li>
                  <!-- <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>On Demand</strong>
                    <br />
                    <div class="list-text">
                      Enjoy hit movies free Primetime favourites, Kids shows, Sporting events, Music and more.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>HD Channels</strong>
                    <br />
                    <div class="list-text">
                      Watch the HD version of your favorite shows at no extra cost at you.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>TXC Local News and Sports</strong>
                    <br />
                    <div class="list-text">
                      Get hyper local coverage with TXC Local News and Sports
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="category-panel-title" style="margin-bottom: 45px;">The internet just got better</div>
                <div class="category">Internet</div>
                <p>
                  No more waiting in line to go online. There's Speed for the whole family and their devices. Better streaming, surfing, gaming and shopping start here. 
                </p>
                <label>FEATURES</label>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Speed</strong>
                    <br />
                    <div class="list-text">
                      Enjoy reliable, ultra-fast speeds up to 300 Mbps. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>WIFI</strong>
                    <br />
                    <div class="list-text">
                      Get the latest in WiFi connectivity at home and away with free, access to more than 400,000 TXC WiFi Hotspots Nationwide. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>Security &amp; Privacy</strong>
                    <br />
                    <div class="list-text">
                      Enjoy secure connections, free anti-virus software, helpful guides and videos, and parental controls. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>TXC Central</strong>
                    <br />
                    <div class="list-text">
                      Check email, discover the latest headlines and videos in news, sports and entertainment, plus information, offers and tools to keep you connected.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Self-Installation</strong>
                    <br />
                    <div class="list-text">
                      Get it all and easily install it yoursell with Easy Connect Kit. Professionals are also available for home visit.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="category-panel-title">Home phone dialed in to and on-the-go world</div>
                <div class="category">Phone</div>
                <p>
                  Who knew your home phone Could give you this much control? With all these convenient features, you'll see the better phone service starts with <br />Time Warner Cable &reg; TV
                </p>
                <label>FEATURES</label>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>High Quality</strong>
                    <br />
                    <div class="list-text">
                      With Voice Over IP, our all-digital network provides the highest call quality. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Voicemail with VoiceZone</strong>
                    <br />
                    <div class="list-text">
                      Check your messages, receive incoming call notifications, return calls, create a contact list and more from your mobile device or computer. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>Caller ID</strong>
                    <br />
                    <div class="list-text">
                      See who's calling before you answer and without taking your eyes off what you're watching with a pop-up TV display.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Call Waiting and Forwarding</strong>
                    <br />
                    <div class="list-text">
                      Put one call on hold while you answer another and send incoming calls to your cell or another number. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>3-Way Calling </strong>
                    <br />
                    <div class="list-text">
                      Expand the conversation. Invite a third person to join your call. 
                    </div>
                  </li>
                  <!-- <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Distinctive Ring</strong>
                    <br />
                    <div class="list-text">
                      Program your phone with a distinctive ring and call waiting tone for specific callers.
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% elsif params[:action] == "cox" %>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" style="padding-bottom: 75px;">
                <div class="category-panel-title">COX TV</div>
                <div class="category">What’s New &amp; Features</div>
                <p>
                  With some of the most advanced features around your TV will never be the same.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>TV on Your Terms with Contour Record-6 DVR</strong>
                    <br />
                    <div class="list-text">
                      Record up to six shows at once and store up to 1,000* hours of entertainment. Watch at your convenience anywhere in your home on your TV, tablet or smartphone.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Cox TV Advisor</strong>
                    <br />
                    <div class="list-text">
                      With Cox TV Advisor, you tell us your favorite TV shows and in less than a minute we’ll pick the perfect TV package for you.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>Hundreds of Channels</strong>
                    <br />
                    <div class="list-text">
                      Find your entertainment sweet spot with our massive selection of channels.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>TV Everywhere</strong>
                    <br />
                    <div class="list-text">
                      Get over 80 TV network apps on your digital devices so you can watch your favorite movies from any room.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Price Lock Guarantee</strong>
                    <br />
                    <div class="list-text">
                      Lock in your savings for two years with Cox's 24-month Price Lock Guarantee
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" style="padding-bottom: 55px;">
                <div class="category-panel-title">Cox High Speed Internet</div>
                <div class="category">What’s New &amp; Features</div>
                <p>
                  Stream all your favorite music and shows with access to the fastest in-home WiFi.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Stream Faster, Watch More</strong>
                    <br />
                    <div class="list-text">
                      With Cox High Speed InternetSM, you can get Up to 200 Mbps download speeds and access to over 400,000 WiFi hotspots when you travel.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Speed 101</strong>
                    <br />
                    <div class="list-text">
                      How does your internet speed stack up? Test your speed and learn how to maximize your online experience.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>Speed Advisor</strong>
                    <br />
                    <div class="list-text">
                      Discover the Internet speed package that’s best for you. Consult the Cox Speed AdvisorSM for free advice that could save you time, money and bandwidth. 
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Blazing Fast In-Home WiFi</strong>
                    <br />
                    <div class="list-text">
                      Get access to the fastest in-home WiFi to surf, stream, game and more.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>More Speed</strong>
                    <br />
                    <div class="list-text">
                      The more speed the better. We're bringing you faster speeds at no extra cost—Up to 200 Mbps download!
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="category-panel-title">Cox Digital Telephone</div>
                <div class="category">What’s New &amp; Features</div>
                <p>
                  Enjoy more conversations with unlimited local calling and other great features. 
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Readable Voice Mail</strong>
                    <br />
                    <div class="list-text">
                      Stay in touch, even while you're away! With Readable Voice Mail, you'll receive written transcripts of your voice mail messages to the email addresses of your choice.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Call Forwarding</strong>
                    <br />
                    <div class="list-text">
                      Program your calls to ring through to another number, so you can still use your primary phone to make outgoing calls.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>TV Caller ID</strong>
                    <br />
                    <div class="list-text">
                      See who's calling right from your TV! TV Caller ID works with your Cox Contour TV so you can view the name and number of incoming calls and your incoming call history—all right on your TV screen.
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>More Ways to Conveniently Call</strong>
                    <br />
                    <div class="list-text">
                      Access plenty of added features to make calling from anywhere simple!
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Cox App</strong>
                    <br />
                    <div class="list-text">
                      Manage your home phone, TV and home DVR services, pay your bill and more from anywhere with the Cox App.
                    </div>
                  </li>
                  <!-- <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Distinctive Ring</strong>
                    <br />
                    <div class="list-text">
                      Program your phone with a distinctive ring and call waiting tone for specific callers.
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" style="padding-bottom: 40px;">
                <div class="category-panel-title">Charter’s Spectrum TV</div>
                <div class="category">What’s New & Features</div>
                <p>
                  Experience more HD channels than any other providers
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>FREE HD </strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>200+ HB channels available</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>10,000+ On Demands choices</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Free Primetime On Demand</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Access to the Spectrum TV App</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>No contracts. Stuck in one? We’ll buy it out to $500</strong>
                    <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" style="padding-bottom: 80px;">
                <div class="category-panel-title">Charter’s Spectrum Internet </div>
                <div class="category">What’s New & Features</div>
                <p>
                  Fastest Internet speeds, virus detection with security Suite and no data caps.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Fastest Internet speeds available starting at 60 Mbps</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>No data caps</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>Enough speed to support all the devices in your home</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>No contracts. Stuck in one? We’ll buy it out to $500</strong>
                    <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="category-panel-title">Charter’s Spectrum Voice</div>
                <div class="category">What’s New & Features</div>
                <p>
                  Get reliable service without added fees dropped calls, or poor connections.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>18+ popular calling features</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>Unlimited local and long distance calling in the U.S, Canada, Puerto Rico & more</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> 
                    <strong>FREE 411, Voicemail, Readable Voicemail and more</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>No added fees like the phone company charges</strong>
                    <br />
                  </li>
                  <li>
                    <i class="fa fa-check-circle-o fa-1x"></i> <strong>No contracts. Stuck in one? We’ll buy it out to $500</strong>
                    <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="section-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="heading">
            <% if params[:action] == "twc" %>
              More Movies, More Sports More To Enjoy
            <% elsif params[:action] == "cox" %>
              More Reasons To Love TV
            <% else %>
              Entertainment for Everyone
            <% end %>
          </span>
        </div>
        <div class="col-md-4">
          <% if params[:action] == "twc" %>
            <span class="heading">PREMIUM CHANNELS</span>
            <p>
              With your choice of top channels and unique TXC programming passes, better TV starts with more of the best shows and movies. 
            </p>
            <p>Add these premium channels to your Preferred TV service.</p>
          <% elsif params[:action] == "cox" %>
            <span class="heading">THE BEST IN ENTERTAINMENT</span>
            <p>
              HBO, SHOWTIME, STARZ and CINEMAX
            </p>
            <p>
              Watch the best premium entertainment: hit shows, new movies and access to On DemandSM and online viewing.
            </p>
          <% else %>
            <span class="heading">Premium Channels</span>
            <p>With premium channels like HBO, SHOWTIME, AND STARZ you’ll have access to over 10,000 movies and original shows. Get ready to be entertained!</p>
          <% end %>
          <ul class="list-inline">
            <li><%= image_tag("hbo-logo.png") %></li>
            <li><%= image_tag("cinemax logo.png") %></li>
            <li><%= image_tag("starz logo.png") %></li>
            <li><%= image_tag("tmc logo.png") %></li>
            <li><%= image_tag("showtime logo.png") %></li>
            <li><%= image_tag("epix logo.png") %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <span class="heading">SPORTS</span>
          <% if params[:action] == "twc" %>
            <p>
              No matter the sport, no matter the season, you can view all your favorite events with the exclusive coverage that puts you at the game.
              
            </p>
            <p>
              Enjoy sports with these channels added to your Preferred TV service.
            </p>
          <% elsif params[:action] == "cox" %>
            <p>
              Catch all the live sports actions with two exciting paks for one crowd-pleasing price! You’ll stay in the know with the Sports & Info Pak, featuring the NFL Network, NBA TV, NHL Network and more. And you’ll get your field-to-stream thrills with the Sports Pak 2, bringing you everything from BIG Ten Network, NFL RedZone and MLB Network to World Fishing Network and Universal Sports.
            </p>
          <% else %>
            <p>
              Whether you’re a fan of football, baseball, auto racing, tennis, soccer or bass fishing, it’s always game time with Charter Spectrum TV. Charter Spectrum TV packages include offerings like NFL Network, NFL RedZone, MLB Network, and ESPN GamePlan to get in the middle of your experience with national channels, regional channels, and seasonal subscriptions. To see all the sports channels that are available for your home, check out Channel Lineup  
            </p>
          <%  end %>
          <ul class="list-inline">
            <li><%= image_tag("MBL logo.png") %></li>
            <li><%= image_tag("NBA logo.png") %></li>
            <li><%= image_tag("NHL logo.png") %></li>
            <li><%= image_tag("direct kick logo.png") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-3">
    <div class="container">
      <div class="packages-category-name">
        <ul class="list-inline">
          <li class="active">
            <a href="#filter_with_tv" class="filtering" aria-controls="tv" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              TV
              <span class="package-filter" style="background-image: url('assets/filter-circle-select.png');"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_internet" class="filtering" aria-controls="internet" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              INTERNET
              <span class="package-filter"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_phone" class="filtering" aria-controls="phone" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              PHONE
              <span class="package-filter"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_bundles" class="filtering" aria-controls="bundles" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              BUNDLES
              <span class="package-filter"></span>
            </a>
          </li>
        </ul>
      </div>
      <%= render partial: "shared/filters" %>
    </div>
  </div>
</div>