<!-- Banner -->
<div class="landing">
  <div id="search-deals" class="provider-pages-form">
    <div class="mobile-view">
      <%= render partial: "shared/search_deals" %>
    </div>
    <div class="desktop-view">

      <!-- Search form -->
      <%= render partial: "shared/search_deals" %>

      <div id="bannerImage" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag(@provider_banner, class: "slider-img") %>

            <!-- Search Box -->
            <div class="container">
              <div class="carousel-caption">
                <!-- Caption -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content -->
<div class="providers">
  <!-- Section 1 and 2 -->
  <%= render partial: "shared/contents/#{params[:action]}_content" %>

  <div class="section-3">
    <div class="container">
      <div class="packages-category-name has_packages">
        <div class="filters_heading">
          Filters
        </div>
        <ul class="list-inline">
          <li class="active">
            <a href="#filter_with_tv" class="filtering" aria-controls="tv" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              TV
              <span class="package-filter" style="background-image: url('assets/filter-circle-select.png');"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_internet" class="filtering" aria-controls="internet" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              INTERNET
              <span class="package-filter"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_phone" class="filtering" aria-controls="phone" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              PHONE
              <span class="package-filter"></span>
            </a>
          </li>
          <li>
            <a href="#filter_with_bundles" class="filtering" aria-controls="bundles" role="tab" data-toggle="tab" onclick="settingFilterActive(this);">
              BUNDLES
              <span class="package-filter"></span>
            </a>
          </li>
        </ul>
      </div>
      <%= render partial: "shared/filters" %>
    </div>
  </div>
</div>
