<div class="row">
  <div class="col-md-8">
    <%= form_tag offers_path, method: :get, id: "search-deals-offer-form", class: "form-inline", "data-title" => "<span class='search-form-popover-title'>Find your offer</span>", "data-content" => "Please enter your zipcode and find available deals and offers.", "data-html" => "true", tabindex: "0", "data-trigger" => "manual" do %>
      <div class="panel panel-search home_form">
        <div class="panel-body">
          <h4 class="search-title">
            Compare and Choose Your TV, Internet and Phone Services
          </h4>
          <p>ENTER YOUR ADDRESS</p>
          <ul class="list-inline">
            <li class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <%= text_field_tag :address, params[:address], class: "col-md-3 form-control", placeholder: "Street Address*" %>
              </div>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-3">
              <div class="form-group">
                <%= text_field_tag :apt, params[:apt], class: "col-md-3 form-control", placeholder: "Apt#" %>
              </div>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-3">
              <div class="form-group">
                <%= text_field_tag :zipcode, params[:zipcode], class: "col-md-3 form-control", placeholder: "Zip Code*" %>
              </div>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-3">
              <div class="form-group">
                <%= text_field_tag :state, params[:state], class: "col-md-3 form-control", placeholder: "State*" %>
              </div>
            </li>
          </ul>
          <br />
          <%= button_tag "Find Deals &amp; Offers".html_safe, type: :submit, class: "btn btn-block btn-danger search-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>