<!-- Internet Equiptment -->

<% if fields["internet_equiptment"].downcase == "required" %>
	<h4>Internet Equipment <span class="checkout_required">(Required)</span> <small><a href="javascript:void(0);" onclick="resetSelectedItem(this);">Reset selected item</a></small></h4>
	<ul>

		<!-- Premium Modem -->
		<% if fields["premium_modem"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :premium_modem, false, false, {data: { price: fields["premium_modem"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_1">
            Premium Modem - Purchase, ($<%= fields["premium_modem"] %>)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspepremium_modem" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspepremium_modem">
	          <p class="well">
	          	Stand-alone cable modem with 16 x 4 channel support for the ability to access the new Ultimate package speeds.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- Premiun Dual Band WIFI -->
		<% if fields["premium_dual_band_internet_and_wifi_modem"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :premium_dual_band_internet_and_wifi_modem, false, false, {data: { price: fields["premium_dual_band_internet_and_wifi_modem"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_2">
            Premium Dual-Band Internet &amp; WiFi Modem- Rent, ($<%= fields["premium_dual_band_internet_and_wifi_modem"] %>/Monthly)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspepremium_dual_band_internet_and_wifi_modem" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspepremium_dual_band_internet_and_wifi_modem">
	          <p class="well">
	          	Combined Internet and Telephone WiFi Modem that utilizes 802.11ac WiFi technology to support the new Ultimate package speeds.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- Internet and WIFI modem single -->
		<% if fields["internet_and_wifi_modem_single"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :internet_and_wifi_modem_single, false, false, {data: { price: fields["internet_and_wifi_modem_single"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_3">
            Internet &amp; WiFi Modem - Single Band - Rent, ($<%= fields["internet_and_wifi_modem_single"] %>)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspeinternet_and_wifi_modem_single" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeinternet_and_wifi_modem_single">
	          <p class="well">
	          	All-in-one DOCSIS 3.0 modem and Wireless 802.11N Router. The latest home networking technology in one, easy-to-setup device.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- Internet and WIFI model dual -->
		<% if fields["internet_and_wifi_modem_dual"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :internet_and_wifi_modem_dual, false, false, {data: { price: fields["internet_and_wifi_modem_dual"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_3">
            Internet &amp; WiFi Modem - Dual Band - Rent, ($<%= fields["internet_and_wifi_modem_dual"] %>)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspeinternet_and_wifi_modem_dual" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeinternet_and_wifi_modem_dual">
	          <p class="well">
	          	All-in-one DOCSIS 3.0 modem and wireless router with an additional and less congested channel (5 Ghz) to spread the load of your in-home WiFi traffic. The latest in-home WiFi technology in one, easy-to-setup device. Ideal for home with heavy use of gaming, streaming HD video or online downloading and computer back up. Includes in-home WiFi installation support and ongoing phone support.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- WIFI modem dual band -->
		<% if fields["wifi_modem_dual_band"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :wifi_modem_dual_band, false, false, {data: { price: fields["wifi_modem_dual_band"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_3">
            WiFi Modem - Dual Band - Purchase, ($<%= fields["wifi_modem_dual_band"] %>)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspewifi_modem_dual_band" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspewifi_modem_dual_band">
	          <p class="well">
	          	All-in-one DOCSIS 3.0 Internet modem and wireless router with an additional and less congested channel (5 Ghz) to spread the load of your in-home WiFi traffic. The latest in-home WiFi technology in one, easy-to-setup device. Ideal for home with heavy use of gaming, streaming HD video or online downloading and computer back up.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- Internet WIFI and telephone modem -->
		<% if fields["internet_wifi_and_telephone_modem"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :internet_wifi_and_telephone_modem, false, false, {data: { price: fields["internet_wifi_and_telephone_modem"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_3">
            Internet, WiFi &amp; Telephone Modem - Rent, ($<%= fields["internet_wifi_and_telephone_modem"] %>)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspeinternet_wifi_and_telephone_modem" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeinternet_wifi_and_telephone_modem">
	          <p class="well">
	          	All-in-one Telephone adapter, DOCSIS 3.0 modem and Wireless 802.11N Router. The latest home networking technology in one, easy-to-setup device.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- Internet and telephone modem -->
		<% if fields["internet_and_telephone_modem"].present? %>
			<li>
				<div class="checkbox">
          <%= check_box_tag :internet_and_telephone_modem, false, false, {data: { price: fields["internet_and_telephone_modem"] }, onchange: "calculateEquiptmentCosts(this);"}  %>
          <label class="label-checkbox" for="internet_equiptment_3">
            Internet &amp; Telephone Modem, ($<%= fields["internet_and_telephone_modem"] %>)
          </label>
          <br />
          <a role="button" data-toggle="collapse" href="#collaspeinternet_and_telephone_modem" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
					<div class="collapse" id="collaspeinternet_and_telephone_modem">
	          <p class="well">
	          	You can use your new Internet-Phone modem to connect to the Internet. Select this option to use the DOCSIS 3 Modem that Cox provides.
	          </p>
          </div>
        </div>
			</li>
		<% end %>

		<!-- I own a DOCSIS 3.0 modem -->
		<li>
			<div class="checkbox">
        <%= check_box_tag :i_own_a_docsis_modem, false, false, {data: { price: 0 }, onchange: "calculateEquiptmentCosts(this);"}  %>
        <label class="label-checkbox" for="internet_equiptment_3">
          I own a DOCSIS 3.0 modem, ($0)
        </label>
        <br />
        <a role="button" data-toggle="collapse" href="#collaspei_own_a_docsis_modem" aria-expanded="false" aria-controls="collapseExample" class="view_more">View Details</a>
				<div class="collapse" id="collaspei_own_a_docsis_modem">
          <p class="well">
          	Cox recommends devices using DOCSIS 3.0 technology. DOCSIS 3.0 is the latest and most advanced modem technology, offering the best experience for Internet speeds and service level. If you choose to purchase or use your own modem, we highly recommend you use a DOCSIS 3.0 device in order to achieve our top network speeds.
          </p>
        </div>
      </div>
		</li>
	</ul>
<% end %>