<%= content_for :keywords, "internet deals in my area,cox
service,charter,cox internet deals, charter internet deals,cheap internet
in my area,
cable tv in my area, cable providers in my area, best internet
bundles,cable bundles, utility connect,all connect" %>
<%= content_for :description, "Find the best Charter Spectrum deals, discounts & specials." %>
<div class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-bottom: 40px;">
            <div class="category-panel-title">Charter’s Spectrum TV</div>
            <div class="category">What’s New & Features</div>
            <p>
              Experience more HD channels than any other providers
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>FREE HD </strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>200+ HB channels available</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i>
                <strong>10,000+ On Demands choices</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Free Primetime On Demand</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Access to the Spectrum TV App</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>No contracts. Stuck in one? We’ll buy it out to $500</strong>
                <br />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-bottom: 80px;">
            <div class="category-panel-title">Charter’s Spectrum Internet </div>
            <div class="category">What’s New & Features</div>
            <p>
              Fastest Internet speeds, virus detection with security Suite and no data caps.
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Fastest Internet speeds available starting at 60 Mbps</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>No data caps</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i>
                <strong>Enough speed to support all the devices in your home</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>No contracts. Stuck in one? We’ll buy it out to $500</strong>
                <br />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="category-panel-title">Charter’s Spectrum Voice</div>
            <div class="category">What’s New & Features</div>
            <p>
              Get reliable service without added fees dropped calls, or poor connections.
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>18+ popular calling features</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Unlimited local and long distance calling in the U.S, Canada, Puerto Rico & more</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i>
                <strong>FREE 411, Voicemail, Readable Voicemail and more</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>No added fees like the phone company charges</strong>
                <br />
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>No contracts. Stuck in one? We’ll buy it out to $500</strong>
                <br />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="heading">
            Entertainment for Everyone
        </span>
      </div>
      <div class="col-md-4">
        <span class="heading">Premium Channels</span>
        <p>With premium channels like HBO, SHOWTIME, AND STARZ you’ll have access to over 10,000 movies and original shows. Get ready to be entertained!</p>
        <ul class="list-inline">
          <li><%= image_tag("hbo-logo.png") %></li>
          <li><%= image_tag("cinemax logo.png") %></li>
          <li><%= image_tag("starz logo.png") %></li>
          <li><%= image_tag("tmc logo.png") %></li>
          <li><%= image_tag("showtime logo.png") %></li>
          <li><%= image_tag("epix logo.png") %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <span class="heading">SPORTS</span>
        <p>
          Whether you’re a fan of football, baseball, auto racing, tennis, soccer or bass fishing, it’s always game time with Charter Spectrum TV. Charter Spectrum TV packages include offerings like NFL Network, NFL RedZone, MLB Network, and ESPN GamePlan to get in the middle of your experience with national channels, regional channels, and seasonal subscriptions. To see all the sports channels that are available for your home, check out Channel Lineup
        </p>
        <ul class="list-inline">
          <li><%= image_tag("MBL logo.png") %></li>
          <li><%= image_tag("NBA logo.png") %></li>
          <li><%= image_tag("NHL logo.png") %></li>
          <li><%= image_tag("direct kick logo.png") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
