<%= content_for :keywords, "internet deals in my area,cox
service,charter,cox internet deals, charter internet deals,cheap internet
in my area,
cable tv in my area, cable providers in my area, best internet
bundles,cable bundles, utility connect,all connect" %>
<%= content_for :description, "Find the best COX deals, discounts & specials." %>

<div class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-bottom: 75px;">
            <div class="category-panel-title">COX TV</div>
            <div class="category">What’s New &amp; Features</div>
            <p>
              With some of the most advanced features around your TV will never be the same.
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>TV on Your Terms with Contour Record-6 DVR</strong>
                <br />
                <div class="list-text">
                  Record up to six shows at once and store up to 1,000* hours of entertainment. Watch at your convenience anywhere in your home on your TV, tablet or smartphone.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Cox TV Advisor</strong>
                <br />
                <div class="list-text">
                  With Cox TV Advisor, you tell us your favorite TV shows and in less than a minute we’ll pick the perfect TV package for you.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i>
                <strong>Hundreds of Channels</strong>
                <br />
                <div class="list-text">
                  Find your entertainment sweet spot with our massive selection of channels.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>TV Everywhere</strong>
                <br />
                <div class="list-text">
                  Get over 80 TV network apps on your digital devices so you can watch your favorite movies from any room.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Price Lock Guarantee</strong>
                <br />
                <div class="list-text">
                  Lock in your savings for two years with Cox's 24-month Price Lock Guarantee
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" style="padding-bottom: 55px;">
            <div class="category-panel-title">Cox High Speed Internet</div>
            <div class="category">What’s New &amp; Features</div>
            <p>
              Stream all your favorite music and shows with access to the fastest in-home WiFi.
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Stream Faster, Watch More</strong>
                <br />
                <div class="list-text">
                  With Cox High Speed InternetSM, you can get Up to 200 Mbps download speeds and access to over 400,000 WiFi hotspots when you travel.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Speed 101</strong>
                <br />
                <div class="list-text">
                  How does your internet speed stack up? Test your speed and learn how to maximize your online experience.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i>
                <strong>Speed Advisor</strong>
                <br />
                <div class="list-text">
                  Discover the Internet speed package that’s best for you. Consult the Cox Speed AdvisorSM for free advice that could save you time, money and bandwidth.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Blazing Fast In-Home WiFi</strong>
                <br />
                <div class="list-text">
                  Get access to the fastest in-home WiFi to surf, stream, game and more.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>More Speed</strong>
                <br />
                <div class="list-text">
                  The more speed the better. We're bringing you faster speeds at no extra cost—Up to 200 Mbps download!
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="category-panel-title">Cox Digital Telephone</div>
            <div class="category">What’s New &amp; Features</div>
            <p>
              Enjoy more conversations with unlimited local calling and other great features.
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Readable Voice Mail</strong>
                <br />
                <div class="list-text">
                  Stay in touch, even while you're away! With Readable Voice Mail, you'll receive written transcripts of your voice mail messages to the email addresses of your choice.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Call Forwarding</strong>
                <br />
                <div class="list-text">
                  Program your calls to ring through to another number, so you can still use your primary phone to make outgoing calls.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i>
                <strong>TV Caller ID</strong>
                <br />
                <div class="list-text">
                  See who's calling right from your TV! TV Caller ID works with your Cox Contour TV so you can view the name and number of incoming calls and your incoming call history—all right on your TV screen.
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>More Ways to Conveniently Call</strong>
                <br />
                <div class="list-text">
                  Access plenty of added features to make calling from anywhere simple!
                </div>
              </li>
              <li>
                <i class="fa fa-check-circle-o fa-1x"></i> <strong>Cox App</strong>
                <br />
                <div class="list-text">
                  Manage your home phone, TV and home DVR services, pay your bill and more from anywhere with the Cox App.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="heading">
          More Reasons To Love TV
        </span>
      </div>
      <div class="col-md-4">
        <span class="heading">THE BEST IN ENTERTAINMENT</span>
        <p>
          HBO, SHOWTIME, STARZ and CINEMAX
        </p>
        <p>
          Watch the best premium entertainment: hit shows, new movies and access to On DemandSM and online viewing.
        </p>
        <ul class="list-inline">
          <li><%= image_tag("hbo-logo.png") %></li>
          <li><%= image_tag("cinemax logo.png") %></li>
          <li><%= image_tag("starz logo.png") %></li>
          <li><%= image_tag("tmc logo.png") %></li>
          <li><%= image_tag("showtime logo.png") %></li>
          <li><%= image_tag("epix logo.png") %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <span class="heading">SPORTS</span>
        <p>
          Catch all the live sports actions with two exciting paks for one crowd-pleasing price! You’ll stay in the know with the Sports & Info Pak, featuring the NFL Network, NBA TV, NHL Network and more. And you’ll get your field-to-stream thrills with the Sports Pak 2, bringing you everything from BIG Ten Network, NFL RedZone and MLB Network to World Fishing Network and Universal Sports.
        </p>
        <ul class="list-inline">
          <li><%= image_tag("MBL logo.png") %></li>
          <li><%= image_tag("NBA logo.png") %></li>
          <li><%= image_tag("NHL logo.png") %></li>
          <li><%= image_tag("direct kick logo.png") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
