<h3>
	<strong>Note:</strong>
	<ol>
		<li>Selecting <strong>Include</strong> will include the item in this package</li>
		<li>Selecting <strong>Add Price</strong> will allow you to add the price for the item</li>
		<li>Selecting <strong>Not Include</strong> will remove the item from package</li>
		<li>If item is not selected then it will not be included in the package neither on edit page.</li>
	</ol>
</h3>
<%= form_tag wizard_path, method: :put do %>
	<% for product in @products do %>
		<fieldset class="inputs">
			<legend><span><%= product.name %></span></legend>
			<ol>
				<%= render partial: "#{@provider.acronym}_checkout_fields", locals: { product: product } %>
			</ol>
		</fieldset>
	<% end %>
	<!-- Cox Provider other details -->


	<% if @provider.name == Provider::COX %>
	<fieldset class="inputs">
		<legend><span>Other Details</span></legend>
		<ol>
			<% if @selected_products.include?("Phone") %>
				<li>
					<label for="provider_name" class="label">
						Telephone Outlet Installation Additional
					</label>
					<%= select_tag "checkout_select", options_for_select(["Include", "Not Include", "Add Price"]), prompt: "--Select--", class: "package_select_field", onchange: "$packages.addPriceField(this);" %>
					<%= text_field_tag :outlet_install, params[:outlet_install], style: "display: none;width: calc(78% - 22px);margin-left:20%;", onblur: "$packages.packagePriceValidation(this);", class: "admin_checkout_price" %>
				</li>
			<% end %>
			<li>
				<label class="label">
					Cox Service Protection Plan
				</label>
				<%= select_tag "checkout_select", options_for_select(["Include", "Not Include", "Add Price"]), prompt: "--Select--", class: "package_select_field", onchange: "$packages.addPriceField(this);" %>
				<%= text_field_tag :protection_plan_service, params[:protection_plan_service], style: "display: none;width: calc(78% - 22px);", onblur: "$packages.packagePriceValidation(this);", class: "admin_checkout_price" %>
			</li>
			<li>
				<label class="label">
					Service Agreement <br /> (Lock Rates Agreement)
				</label>
				<%= select_tag "checkout_select", options_for_select(["Not Include", "Add Price"]), prompt: "--Select--", class: "package_select_field", onchange: "$packages.addPriceField(this);" %>
				<%= text_field_tag :lock_rates_agreement, params[:lock_rates_agreement], style: "display: none;width: calc(78% - 22px);", onblur: "$packages.packagePriceValidation(this);", class: "admin_checkout_price" %>
			</li>
		</ol>
	</fieldset>
	<% elsif @provider.name == Provider::CHARTER_SPECTRUM %>
		<% if @selected_products.include?("Internet") %>
			<fieldset class="inputs">
				<legend><span>Other Details</span></legend>
				<ol>
					<li>
						<label class="label">
							Wifi Installation
						</label>
						<%= select_tag "checkout_select", options_for_select(["Include", "Not Include", "Add Price"]), prompt: "--Select--", class: "package_select_field", onchange: "$packages.addPriceField(this);" %>

						<%= text_field_tag :wifi_install, params[:wifi_install], style: "display: none;width: calc(78% - 22px);", onblur: "$packages.packagePriceValidation(this);$packages.generateInstallationVal(thi);", class: "admin_checkout_price" %>
					</li>
				</ol>
			</fieldset>
		<% end %>
	<% else %>
		<% if @selected_products.include?("Cable") %>
			<fieldset class="inputs">
				<legend><span>Other Details</span></legend>
				<ol>
					<li>
						<label for="provider_name" class="label">
							4th TV Install
						</label>
						<%= select_tag "checkout_select", options_for_select(["Include", "Not Include", "Add Price"]), prompt: "--Select--", class: "package_select_field", onchange: "$packages.addPriceField(this);" %>

						<%= text_field_tag :fourth_tv_install, params[:fourth_tv_install], style: "display: none;width: calc(78% - 22px);", onblur: "$packages.packagePriceValidation(this);", class: "admin_checkout_price" %>
					</li>
				</ol>
			</fieldset>
		<% end %>
	<% end %>


	<%= button_tag "Create Package", type: :submit %>
	<%= link_to "Cancel", admin_packages_path %>
<% end %>
