<div class="container">
	
	<% if @provider_zipcode.blank? %>
		<div class="alert alert-danger">
			<strong>Sorry!</strong> Currently, our packages are not available in your area.
		</div>
	<% else %>
		<div class="page-header">
			<h1><%= pluralize(@packages.length, "Package") %> <small>found</small></h1>
		</div>
		<div class="well">
			<% @packages.each do |package| %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<%= package.package_name %>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<%= image_tag @provider.logo.url(:thumb), class: "img-rounded img-responsive" %>
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-9">
										<strong>Package Detail</strong>
										<p>
											<%= package.package_description.html_safe %>
										</p>
									</div>
									<div class="col-md-3">
										<ul class="list-inline">
											<li>
												<span class="pricing label label-default"><%= package.package_type.name %></span>
											</li>
											<li class="pull-right">
												<span class="pricing label label-default"><%= package.price %></span>
											</li>
										</ul>
										<%= link_to "Checkout", "#", class: "btn btn-info btn-primary btn-block checkout" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr />
			<% end %>
		</div>
		<% if @packages.present? %>
		<% else %>
			<div class="alert alert-warning">
				<strong>Sorry!</strong> There are no packages available
			</div>
		<% end %>
	<% end %>
</div>